*~
*.mo
*.map
*.log
*.pptx
.emacs.desktop
capitularia.xpr
composer.lock
xslt/schemas.xml
xmlbackup/
gis/geodata/*
!gis/geodata/*.geojson
client/build
server/server.conf
server/geodata
bibl/build/*

backups
**/backup/
**/_build/
**/__pycache__/
**/obsolete/
cache
cap
doc_src/jsdoc
doc_src/phpdoc
Documents
htdocs
node_modules
tools/reports
tools/phpcs/OldSniffs
vendor
