*~
*.mo
*.map
*.log
*.pptx
.emacs.desktop
capitularia.xpr
composer.lock
xslt/schemas.xml
xmlbackup/
client/src/geodata
client/build
server/server.conf

backups
**/_build/
**/__pycache__/
cap
Documents
htdocs
node_modules
tools/reports
vendor
