*~
*.mo
*.map
*.log
*.pptx
.emacs.desktop
capitularia.xpr
composer.lock
xslt/schemas.xml
xmlbackup/
gis/geodata/*
!gis/geodata/countries*
!gis/geodata/regions*
client/build
server/server.conf
server/geodata

backups
**/_build/
**/__pycache__/
cache
cap
Documents
htdocs
node_modules
tools/reports
vendor
