.wy-side-nav-search a.icon.icon-home img.logo { width: 72px; }

.rst-content img.sauml {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.rst-content .std-term {
    font-style: italic;
}

.rst-content .pic {
    margin-bottom: 1em;
}

.rst-content .pic table {
    min-width: 100%;
}

.rst-content .pic table th,
.rst-content .pic table td {
    border: 1px solid black;
    padding: 0.2em;
    text-align: left;
}
