@charset "utf-8";

.reveal tt.code span.pre {
    font-family: monospace;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal section pre code,
.reveal section div.highlight pre {
    box-sizing: border-box;
    padding: 1ex 1em;
}

body {
    background-image: url(cceh-logo.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 96% 4%;
}

/* cceh logo color: 41799e */

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #41799e; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #41799e; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #41799e; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #41799e; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #41799e; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #41799e; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #41799e; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #41799e; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress span {
    background: #41799e;
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
    color: #41799e;
}
