/*
   bootstrap custom theme
   See: https://getbootstrap.com/docs/4.1/getting-started/theming/
*/

@import 'colors';
@import 'fonts';
@import 'jquery-ui';

input.resizable {
    overflow: hidden;
    resize: both;
}
