/*
   bootstrap custom theme
   See: https://getbootstrap.com/docs/4.1/getting-started/theming/
*/

/*@import "_functions";
@import "_variables";
@import "_mixins"; */
@import "./colors.scss";
@import "./fonts.scss";
@import "./jquery-ui.scss";

input.resizable {
    resize: both;
    overflow: hidden;
}
