/******************************************/
/* Content Column and Annotation Tooltips */
/******************************************/

div.content-col {
    margin-bottom: 40px;

    @media print {
        /* otherwise we get no page-breaks because this is floated by bootstrap */
        float: none;
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }
    a {
        &.milestone {
            display: inline-block;
            height: 1.5em;
            float: left;
        }
        &.internal {
            &::after {
                font-family: "dashicons";
                line-height: 1;
                color: $color-link;
            }
            &.bib {
                @include regular;
                color: inherit;
                &::after {
                    content: "\00a0\00a0\f330";
                }
            }
            &.mom {
                display: block;
            }
            &.com {
                display: block;
            }
            &.transcription {
                &::after {
                    content: "\00a0\00a0\f464";
                }
            }
            &.prev-transcription {
                &::after {
                    content: "\f141\00a0";
                }
            }
            &.next-transcription {
                &::after {
                    content: "\00a0\f139";
                }
            }
        }
        &.external {
            &::after {
                font-family: "dashicons";
                line-height: 1;
                color: $color-link;
                content: "\00a0\00a0\f504";
            }
        }
    }

    article {
        margin: 0 0 32px 0;
    }

    table {
        margin: 16px 0;
        width: 100%;
    }

    thead {
        border-bottom: solid 1px $color-rule;
        th, td {
            @include semibold;
            padding-bottom: 16px;
        }
    }

    tr {
        background: $color-row-odd;
        &:nth-child(even) {
            background: $color-row-even;
        }
    }

    th, td {
        text-align: left;
        padding: 6px;
        p, ul, ol {
            margin-top: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    th {
        @include semibold;
    }

    table.new-style {
        thead {
            border-top:    1px solid $color-rule;
            border-bottom: 0 solid $color-rule;
        }
        tr {
            background: $color-white;
            &:first-child {
                td, th {
                    padding-top: 12px;
                }
            }
            &:last-child {
                td, th {
                    padding-bottom: 12px;
                }
            }
        }
        tbody {
            border-top:    1px solid $color-rule;
            border-bottom: 1px solid $color-rule;
        }
    }

    div.footnotes-wrapper {
        @media screen {
            display: none;
        }
    }

    .annotation-ref {
        @include sup;
        span.footnote-number-ref {
            @include black;
        }
        span.footnote-siglum {
            @include red;
        }
    }

    span.tei-mentioned {
        @include italic;
    }

    div.tei-front {
        @include italic;
        span.tei-mentioned {
            @include regular;
        }
    }

    div.tei-msDesc {
        div.tei-msIdentifier {
            margin: 1em 0;
        }
        div.tei-altIdentifier {
            margin: 1em 0;
        }
        div.tei-facsimile {
            margin: 1em 0;
        }
    }

    div.capit-xsl {
        font-size: 90%;
        table {
            .resp {
                width: 30%;
            }
            .value{
            }
            .transcribed-p {
                width: 1%;
                font-size: 80%;
                text-align: right;
            }
        }
    }

    div.capit-list-xsl,
    div.mss-table-xsl,
    div.mss-capit-xsl,
    div.mss-idno-xsl,
    div.mss-key-xsl,
    div.mss-changes,
    div.resources-downloads {
        font-size: 90%;
        table {
            table-layout: fixed;
            font-size: 90%;

            td {
                padding: 4px 8px;
            }
            th {
                padding: 16px 8px;
                border-bottom: solid 1px $color-rule;
            }
        }
    }

    div.capit-list-xsl {
        table {
            .siglum {
                width: 20%;
            }
            .title {
                width: 65%;
            }
            td.title {
                @include italic;
            }
            td.internal {
            }
        }
    }

    div.mss-table-xsl {
        table {
            .shelfmark {
                width: 27%;
            }
            .capit {
                width: 46%;
            }
            .origin {
            }
        }
    }

    div.mss-capit-xsl {
        table {
            .capit {
                width: 35%;
            }
            td div.note {
                font-size: 85%;
                @include regular;
            }
            td.capit {
                @include italic;
                div.note {
                    margin-top: 1em;
                }
            }
            td.mss {
                line-height: 120%;
                div.note {
                    display: inline;
                }
            }
        }
        .mss-capit-capitular-siglum {
            @include regular;
        }
    }

    div.mss-idno-xsl {
        span.siglum {
            @include italic;
        }
    }

    div.mss-key-xsl {
        th, td {
            &.siglum {
                width: 15%;
            }
        }
    }

    div.mss-changes {
        table {
            table-layout: auto;
            td.date {
                width: 15%;
            }
            td.what {
                width: 84%;
            }
        }
    }

    div.resources-downloads {
        table {
            table-layout: auto;
        }
    }

    .bib-short-title {
        @include semibold;
    }
}

div.content-col, div.annotation-content {
    text-align: justify;
    line-height: 1.4em;

    ul, ol {
        margin: 1.5em 0;
    }

    li {
        margin-left: 1.5em;
        list-style: disc outside;
    }

    ul.bare > li {
        margin-left: 0;
        list-style-type: none;
    }

    ul.dash > li {
        position: relative;
        margin-left: 2em;
        list-style-type: none;
        &::before {
            position: absolute;
            margin-left: -1em;
            content: "-";
        }
    }

    hr {
        margin: 3em 0;
    }

    .rend-red,
    .rend-colored,
    .rend-coloured {
        @include red;
    }

    .rend-default {
        @include black;
    }

    .rend-italic {
        @include italic;
    }

    .rend-semibold {
        @include semibold;
    }

    .rend-super {
        @include sup;
    }

    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .align-bottom {
        vertical-align: bottom;
    }
    .float-left {
        display: block;
        float: left;
        margin: 0 1em 1em 0;
    }
    .float-right {
        display: block;
        float: left;
        margin: 0 0 1em 1em;
    }

    span.initial {
        display: inline-block;
        @include semibold;
        font-size: 110%;
    }
    span.initial-word-wrapper {
        white-space: nowrap;
    }
    span.versalie {
        font-size: 110%;
        @include semibold;
    }
    span.break-word {
        word-break: break-all;
    }
    span.tei-gap {
        letter-spacing: 0.2em;
    }
    div.tei-gap-editorial {
        margin: 1em 0;
        font-weight: bold;
        span.tei-gap-editorial-inner {
            font-style: italic;
        }
    }

    div.xsl-output {
        ul {
            list-style: disc outside;
        }
        ol {
            list-style: decimal outside;
        }
        ol.alphabetisch {
            list-style-type: lower-alpha;
        }
        ol ol {
            list-style-type: upper-alpha;
        }
        ol ol ol {
            list-style-type: lower-roman;
        }
        ol ol ol ol {
            list-style-type: lower-alpha;
        }
        ol li {
            margin-left: 2em;
            padding-left: 0.5em;
        }

        ul.tei-msItem,
        ul.downloads {
            li {
                margin-left: 0;
                list-style: none;
            }
        }

        .xml-comment {
            background-color: yellow;
        }

        div.mss-header-xsl {
            font-size: 90%;

            img {
                vertical-align:middle;
            }
            table.tei-physDesc-table {
                table-layout: fixed;
                width: 100%;
                th {
                    width: 25%;
                }
            }
            div.tei-msDesc div.mss-of-the-month {
                margin-top: 1em;
            }
            div.tei-listBibl li {
                font-size: 90%;
                list-style-type: square;
            }
            span.tei-note-corr {
                @include red;
            }
        }

        div.mss-transcript-xsl {
            font-size: 90%;

            div.tei-body {
                font-size: 120%;
                line-height: 200%;
            }

            div.ab-meta-text, div.abMETA {
                @include semibold;
            }

            div.nota,
            div.glossa {
                @include semibold;
                color: $color-red;
                background-color: $color-beige;
                padding: 0 0.6em;
                border-radius: 50%;
                float: left;
                margin-left: -0.6em;
                margin-right: 1.1em;
            }
            div.nota::before {
                content: 'N';
            }
            div.glossa::before {
                content: 'G';
            }
            div.corresp {
                clear: both;
                font-size: 70%;
                @include semibold;
                color: $color-gray;
            }
            span.folio {
                @include regular;
                @include semibold;
                color: $color-gray;
            }
            /* CTE */
            span.tei-witness {
                @include italic;
            }
            span.tei-witness-siglum {
                @include semibold;
                color: $color-highlight;
            }
            li, ul {
                &.compact {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        div.mss-footer-xsl,
        div.capit-xsl {
            font-size: 90%;

            div.tei-revisionDesc {
                table {
                    .col-1 {
                        width: 20%;
                    }
                }
            }
            ul.downloads li {
                padding: 16px 12px;
                background: $color-beige;
                border-bottom: solid 1px $color-white;

                &.download-icon::before {
                    font-family: "dashicons";
                    font-size: 24px;
                    content: "\f316";
                    float: left;
                    padding-right: 1em;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

/***********************/
/* Annotation Tooltips */
/***********************/

div.tooltip {
    &.show {
        opacity: 1;
    }
    div.arrow {
        display: none;
    }
    div.tooltip-inner {
        opacity: 1;
        background-color: $background-box;
        color: $color-text;
        box-shadow: $shadow-box;
        padding: 8px;
        max-width: 400px;
        border-width: 0;
    }
}

div.annotation-content {
    text-align: left;
    line-height: 1.5em;

    @media print {
        &:first-child::before {
            display: block;
            content: '';
            margin-top: 1ex;
            border-top: 1px solid $color-black;
            padding-top: 1ex;
            width: 25%;
        }
    }
    a.annotation-backref {
        display: none;
        @media print {
            display: block;
            float: left;
            width: 2.5em;
            color: $color-text;
            text-align: right;
        }
    }
    div.annotation-text {
        @include italic;
        span.tei-mentioned {
            @include regular;
        }
        sup.mentioned-index {
            @include regular;
        }
        @media print {
            margin-left: 3em;
        }
    }
}
