/*
 * Configure the OpenSans, Fontawesome and Dashicon fonts.
 */

/*
 * OpenSans Font
 */

@import "@fontsource/open-sans/300.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/open-sans/800.css";
@import "@fontsource/open-sans/300-italic.css";
@import "@fontsource/open-sans/400-italic.css";
@import "@fontsource/open-sans/600-italic.css";
@import "@fontsource/open-sans/700-italic.css";
@import "@fontsource/open-sans/800-italic.css";

@mixin light {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin regular {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin semibold {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin bold {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin extrabold {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 800;
    font-style: normal;
}

@mixin light-italic {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 300;
    font-style: italic;
}

@mixin italic {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin semibold-italic {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 600;
    font-style: italic;
}

@mixin bold-italic {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 700;
    font-style: italic;
}

@mixin extrabold-italic {
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 800;
    font-style: italic;
}

/*
 * Fontawesome Font
 */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@mixin far {
    font-family: $fa-style-family;
    font-weight: 400;
}

@mixin fas {
    font-family: $fa-style-family;
    font-weight: 900;
}

@mixin fab {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 900;
}

/*
 * Wordpress Dashicons Font
 */

@mixin dashicons {
    font-family: 'dashicons';
    line-height: 1;
}


/* Other Fonts */

@mixin font-menubar-top {
    @include semibold;
}

@mixin font-menubar-bottom {
    @include semibold;
    text-transform: uppercase;
}

@mixin sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
