/* Font mixins */

@mixin light {
    font-family: 'OpenSans-Light','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin regular {
    font-family: 'OpenSans-Regular','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin semibold {
    font-family: 'OpenSans-Semibold','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin bold {
    font-family: 'OpenSans-Bold','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin extrabold {
    font-family: 'OpenSans-ExtraBold','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin light-italic {
    font-family: 'OpenSans-LightItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin italic {
    font-family: 'OpenSans-Italic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin semibold-italic {
    font-family: 'OpenSans-SemiboldItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin bold-italic {
    font-family: 'OpenSans-BoldItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

@mixin extrabold-italic {
    font-family: 'OpenSans-ExtraBoldItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

/* More styles */

@mixin font-menubar-top {
    @include semibold;
}

@mixin font-menubar-bottom {
    @include semibold;
    text-transform: uppercase;
}

@mixin dashicons {
    font-family: "dashicons";
    line-height: 1;
}
