html {
    scroll-behavior: smooth;
}

body {
    @include regular;
    color: $color-text;
    background: $background;
    line-height: 1.3;
}

article.page-blank {
    width: 100%;
}

p {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3em 0 2em;
    line-height: 1.5em;
    text-align: left;
}

h4,
h5,
h6 {
    margin: 2em 0 1em;
}

h1 {
    @include light;
    font-size: 3em;
    margin: 0;
}

h2 {
    @include regular;
    font-size: 2.4em;
}

header {
    h2 {
        margin-top: 32px;
        color: $color-highlight;
        margin-bottom: 20px;
    }
}

h3 {
    @include regular;
    font-size: 2em;
}

h4 {
    @include semibold;
    font-size: 1.3em;
}

h5 {
    @include semibold;
    font-size: 1em;
}

h6 {
    @include regular;
    font-size: 0.85em;
    text-decoration: underline;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

a[href] {
    @include semibold;
    color: $color-link;
    text-decoration: none;
}

a[href]:active ,
a[href]:focus ,
a[href]:hover {
    text-decoration: underline;
}

.regular {
    @include regular;
}

i,
em,
.italic {
    @include italic;

    a[href],
    a[href]:active,
    a[href]:focus,
    a[href]:hover {
        @include semibold-italic;
    }
}

b,
strong,
.bold {
    @include bold;
}

.small {
    font-size: small;
}

.black {
    @include black;
}

.red {
    @include red;
}

.sup {
    @include sup;
}

.sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

.justify {
    text-align: justify;
}

.screen-only {
    @media print {
        display: none;
    }
}

.print-only {
    @media screen {
        display: none;
    }
}

@media print {
    /* undo bootstrap madness */
    a[href]::after {
        content: none !important;
    }
}

/***********/
/* Headers */
/***********/

@media print {
    div.container {
        margin: 2em 5%;
    }
}

@media not print {
    div.container {
        > header {
            @include make-row(); /* see: https://getbootstrap.com/css/ */
            @include clearfix();
        }

        > main {
            @include make-row();
            @include clearfix();
        }

        > footer {
            @include make-row();
            @include clearfix();
        }
    }

    .cap-row {
        @include make-row();
    }

    .cap-left-col {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    .cap-right-col {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    .cap-left-col-pull {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            /* a column that comes on bottom on mobile but on the left on desktop */
            @include make-col(8);
            order: 0;
        }
    }

    .cap-right-col-push {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            /* a column that comes on top on mobile but on the right on desktop */
            @include make-col(4);
            order: 8;
        }
    }

    nav {
        &.horiz-nav {
            @include make-col-ready();
            @include make-col(12);
            @include clearfix();
        }
    }
}

nav {
    @media print {
        display: none;
    }
}

#bottom-nav {
    padding-top: 20px;
    border-bottom: solid 1px $color-rule;
}

#main.home > div {
    padding-top: 15px;
}

#header2 > div {
    padding-top: 40px;
}

/**********/
/* Footer */
/**********/

#footer {
    background: $color-gray;
    color: $color-white;
    font-size: 0.825em;
    @media print {
        display: none;
    }
}

.logo-bar {
    @include make-row();
    @include clearfix();
    width: 100%;

    li.widget {
        @include make-col-ready();
        @include make-col(3);

        a {
            display: block;
            width: 33%;
            margin: 20px auto;

            img {
                width: 100%;
            }
        }
    }
}


/***********/
/* Gadgets */
/***********/

div.hr {
    /* a horizontal rule always */
    margin: 3em 0;
    border-top: 1px solid $color-black;

    .compact {
        margin: 1em 0;
    }
}

div.page-break {
    /* a horizontal rule on screen and a page break on print */
    @media screen {
        margin: 3em 0;
        border-top: 1px solid $color-black;

        .compact {
            margin: 1em 0;
        }
    }
    page-break-before: always;
}

div.page-break + div.page-break {
    /* Quick fix for duplicated page-breaks. */
    display: none;
}

div.pagination-nav {
    margin:  14px 0;
    padding: 14px 0;
    border: solid 1px $color-rule;
    font-size: smaller;

    .screen-reader-text {
        display: none;
    }
}

div.pagination-nav-top {
    border-width: 1px 0;
}

div.pagination-nav-bottom {
    border-width: 1px 0 0;
}

div.search-results,
div.index-results {
    margin: 2em 0;

    li {
        padding: 10px 0;
    }

    p {
        padding-top: 6px;
    }

    b {
        @include bold;
    }

    h2 {
        margin: 2em 0 1.5em;
        font-size: 1.3em;
    }
}

.downloads li a {
    text-decoration: none;
    transition: color 300ms;
}

.downloads li a:hover,
.downloads li a:focus,
.downloads li a:active {
    color:$color-black;
}

/***********/
/* Sidebar */
/***********/

.sidebar-col {
    margin-bottom: 40px;

    @media print {
        display: none;
    }

    div.sidebar-toc {

        position: sticky;
        top: 24px;
        overflow-y: auto;
    }

    h2 {

        font-size: 1.3em;
        margin: 1.5em 0 1em;
    }

    ul.sub-menu {

        @include clearfix;
        padding-left: 16px;
    }

    ul.menu {

        background: $color-beige;

        li {

            background: $color-beige; // keep floats beige
            position: relative;

            a {
                display: block;
                border-bottom: 1px solid $color-white;
                color: $color-link;
                line-height: 1.3;

                &.opener {
                    position: absolute;
                    left: 0;
                    top: -0.125em;
                    padding-bottom: 0;
                    border-bottom: 0;

                    &::before {
                        @extend %fa-icon;
                        @extend %far;
                        content: fa-content($fa-var-minus-square);
                    }

                    &.collapsed::before {
                        content: fa-content($fa-var-plus-square);
                    }
                }

                &.has-opener {
                    padding-left: 32px;
                }
            }
            /* HACK for Alphabet Menus */
            &.dynamic-menu-item-level-2.dynamic-menu-item-inline {
                float: left;
                width: 2em;
                text-align: center;
                border-bottom: 0;
            }
            /* HACK for Alphabet Menus */
            &.dynamic-menu-item-float {
                float: left;
                width: 2em;
                text-align: center;
                border-bottom: 0;
            }
        }

        li a {
            padding: 16px 8px;
        }

        li li a {
            padding: 4px 8px;
        }

        li li li li a {
            font-size: 85%;
        }
    }
}
