/*******************/
/* navigation bars */
/*******************/

.bottom-nav {
    margin-top:    0.3em;
    margin-bottom: 0.3em;

    ul {
        margin-right: -14px;
    }
}

nav.horiz-nav ul {
    display: block;
    float: right;
    position: relative;
    z-index: 10;
}

nav.horiz-nav li {
    float: left;
    position: relative;
    padding: 0;
}

nav.horiz-nav a {
    display: block;
    text-decoration: none;
    padding: 7px 14px;
    transition: color 300ms, background 300ms;
}

nav.horiz-nav a:hover {
    text-decoration: none;
}

nav.horiz-nav ul ul li {
    /* <li> in language drop-down menu */
    float: none;
}

/* top navbar colors */

#header {
    background-color: $background-menubar-top;
}

.top-nav a {
    @include font-menubar-top;
    color: $color-menubar-top;
    background-color: $background-menubar-top;
}

.top-nav a:active,
.top-nav a:focus,
.top-nav a:hover,
.top-nav li.current-menu-item a {
    color: $color-menubar-top-hover;
    background: $background-menubar-top-hover;
}

.top-nav {
    a.logo-social {
        @include fab;
    }

    a.logo-twitter::before {
        content: '\f099';
    }

    a.logo-x::before {
        content: '\e61b';
    }

    a.logo-bluesky::before {
        content: '\e671';
    }

    a.logo-facebook::before {
        content: '\f39e';
    }

    a.logo-login::before {
        @include fas;
        content: '\f007';
        padding-right: 0.5em;
    }
}

/* bottom navbar colors */

.bottom-nav {
    background-color: $background-menubar-bottom;
}

.bottom-nav a {
    @include font-menubar-bottom;
    color: $color-menubar-bottom;
    background-color: $background-menubar-bottom;
}

.bottom-nav a:active,
.bottom-nav a:focus,
.bottom-nav a:hover,
.bottom-nav li.current-menu-item > a,
.bottom-nav li.current-page-ancestor > a {
    color: $color-menubar-bottom-hover;
    background: $background-menubar-bottom-hover;
}

/* the qTranslate-X language drop-down menu */

.qtranxs-lang-menu ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    display: none;
}

.qtranxs-lang-menu:hover ul.sub-menu {
    display: block;
}

.qtranxs-lang-menu > a > img {
    /* the flag image in the horizontal menu */
    padding-left: 0.5em;
}

.qtranxs-lang-menu-item > a > img {
    /* the flag images in the drop-down menu */
    padding-right: 0.5em;
}

/************************/
/* the search form      */
/************************/

form.searchform {
    @include regular;
    background: linear-gradient(to bottom, #f8f8f8, #ccc);

    table {
        width: 100%;
    }

    td.submit-cell {
        width: 2.5em;
    }

    input,
    button {
        font-size: 1.1em;
        width: 100%;
        height: 2.5em;
        padding: 0;
        margin: 0;
        border: 0 solid black;
        background: transparent;
        transition: background 500ms;
    }
}

#searchinput {
    padding: 0 1em;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}

#searchsubmit {
    margin-left: 1px;
    background: rgba(0, 0, 0, 0.1);

    &::after {
        @include fas;
        content: '\f002';
        color: white;
        font-size: 1.2em;
        display: block;
    }

    &:hover {
        background: $color-highlight;
    }
}
