$opensans-font-path:  "../webfonts";

$list:
       OpenSans-Bold
       OpenSans-BoldItalic
       OpenSans-ExtraBold
       OpenSans-ExtraBoldItalic
       OpenSans-Italic
       OpenSans-Light
       OpenSans-LightItalic
       OpenSans-Regular
       OpenSans-Semibold
       OpenSans-SemiboldItalic;

@each $font in $list {
    @font-face {
        font-family: $font;
        src: url('#{$opensans-font-path}/#{$font}.eot');
        src: url('#{$opensans-font-path}/#{$font}.eot?#iefix') format('embedded-opentype'),
             url('#{$opensans-font-path}/#{$font}.woff2')      format('woff2'),
             url('#{$opensans-font-path}/#{$font}.woff')       format('woff'),
             url('#{$opensans-font-path}/#{$font}.ttf')        format('truetype'),
             url('#{$opensans-font-path}/#{$font}.svg#OpenSans-BoldItalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
