.wy-side-nav-search a.icon.icon-home img.logo { width: 72px; }

.rst-content img.sauml {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.rst-content .std-term {
    font-style: italic;
}

.rst-content .pic {
    margin-bottom: 1em;
}

.rst-content .pic table {
    min-width: 100%;
}

.rst-content .pic table th,
.rst-content .pic table td {
    border: 1px solid black;
    padding: 0.2em;
    text-align: left;
}

.rst-content .pic-w100 {
    width: 100%;
}

table.super-collator              { border-collapse: collapse; margin-bottom: 1em ;}
table.super-collator th,
table.super-collator td.outer     { border: 1px solid black }
table.super-collator td.inner     { width: 50%; padding: 0 0.5ex; text-align: right }
table.super-collator td.prefilled { background-color: #eee }
table.super-collator td.em        { font-weight: bold }
table.super-collator th           { padding: 0 0.5ex; text-align: right }
table.super-collator table        { width: 100% }
table.super-collator-result td    { border: 1px solid black; padding: 0 1ex }

#super-collator-phase2 td.outer.bt {
    background-color: #fefece;
    border: 1.5pt solid #a80136;
}

#super-collator-phase2 td.outer.bt .arrow {
    color: #a80136;
}
