					.handschriften-table tbody td:first-child a:before {
						background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAQElEQVQ4y2NgGOyAEZlzc9XS/7gUqodFM5JsOj4D8cmhuJBYhVRxFTlmMVE7UkYNHDVwWBrIeG3+zP8Mo4ASAACupRboNVjHPwAAAABJRU5ErkJggg==') no-repeat;
						background-size:contain;
					}

					.citation li:after {
						background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA2ElEQVQY05XNsWrCUBTG8b83ISFGKBQMhWRylEKhSGkpvorgAzhkaAUfwUIWt059gIx9BEvBR3Dq0E7NDcGAsTE3dpCIOIh+2+H7nXNqHMkTzuMFZl+yGejHUJvWdDv9oAGMuOo9YMgPskUF77EsSfKes8xjsrEAMNGvC0R9/2JANFeUX4pNHBDNBSfmPFiiEg3RPCw1RLNEJTuYsg4d7KGPZ1XIx7Mc7GHKOtwuAZ8sZQfjz6Xxdoux6tK4cbFfI9LJC79TgNr+q2cuPQ39DkBRzMbE31X3D3igPmRPgsN0AAAAAElFTkSuQmCC') no-repeat;
						background-size:contain;
					}

/*
					.downloads li a:before {
						background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUEDhoCPIOqgAAAAXNJREFUSMfVlsFKw0AQhr+olKIHb+7FEo99AikFiT6D4GPUolULhUJBUEFF776IeJBF8Bm8WFgUZHuQSvEi1HqZhhKaZE3swYEcwkz+f+bfmdl41ugRM7Q5h5g7oAKoyFMRX6J5KRW8AFXlB6/TnNboVeARKGWtoBsHDiC+bh6Jhg4SDvMQeA4EXt5DnnkX/W+CRQeMxJiFyPsnUAcsUAB6DgQHwArwJQN4BSzFERSBNeUHN64SKD94mBi8tmDESjQPtKzRp7/V2hrdATqC4bQqzoFD5QcjB/BjoOVyBpPWkCFqpICfAM2sXbSfJJfI0nRp03dgEBNzZI2+sEZ7UzJvx3wzEMyQYAOoJSSyB1yOSazRZymZ1wQzPIPnpJ0uVgdK1ughsJMS+yaYIUEh2r8xtu3YtUXBDCX6Bvp/uIL6ghlWsK784N4avQksA1l/BDzgQ/mBtkZvTQ7aE7Ar96vrRTPNxolVgWugPK6gDNzOYl3/ADvWcR8PgIAAAAAAAElFTkSuQmCC') no-repeat;
						background-size:contain;
					}
*/
