.handschriften-table tbody td:first-child a:before {
	background:url('../img/icon-folder.png') no-repeat;
	background-size:contain;
}

.citation li:after {
	background:url('../img/icon-citation.png') no-repeat;
	background-size:contain;
}

/*
.downloads li a:before {
	background:url('../img/icon-download.png') no-repeat;
	background-size:contain;
}
*/
