@color-black:     #000;
@color-darkgray:  #1a171b;
@color-gray:      #4e4c4f;
@color-lightgray: #978f7d;
@color-red:       #b92900;
@color-beige:     #e9e1c1;
@color-white:     #fff;

@background:      @color-white;

@color-text:      @color-darkgray;
@color-link:      @color-red;
@color-highlight: @color-red;

@color-startpage-box:  #beac86;

@color-row-odd:  #f6f3f3;
@color-row-even: @color-white;

@color-rule:     @color-darkgray;

@background-menubar-top:             @color-red;
@background-menubar-top-hover:       shade(@background-menubar-top, 20%);
@color-menubar-top:                  tint(@background-menubar-top, 80%);
@color-menubar-top-hover:            @color-white;

@color-menubar-bottom:               @color-lightgray;
@color-menubar-bottom-hover:         @color-red;
@background-menubar-bottom:          @color-white;
@background-menubar-bottom-hover:    @background-menubar-bottom;

@background-box:  @color-beige;

@shadow-box:      5px 5px 5px @color-lightgray;
