body,
html {
  overflow-x: hidden;
}
body {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #1a171b;
  background: #fff;
  line-height: 1.3;
}
p {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 2em 0;
  line-height: 1.5em;
  text-align: left;
}
h4,
h5,
h6 {
  margin: 2em 0 1em 0;
}
h1 {
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  margin: 0;
}
h2 {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4em;
}
h3 {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}
h4 {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
}
h5 {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
h6 {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
a[href] {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #b92900;
  text-decoration: none;
}
a[href]:active,
a[href]:focus,
a[href]:hover {
  text-decoration: underline;
}
.regular {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
i,
em,
.italic {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
i a[href],
em a[href],
.italic a[href],
i a[href]:active,
em a[href]:active,
.italic a[href]:active,
i a[href]:focus,
em a[href]:focus,
.italic a[href]:focus,
i a[href]:hover,
em a[href]:hover,
.italic a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
b,
strong,
.bold {
  font-family: 'OpenSans-Bold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
.small {
  font-size: small;
}
.red {
  color: #b92900;
}
sup {
  vertical-align: super;
  font-size: 70%;
  line-height: 0;
}
sub {
  vertical-align: sub;
  font-size: 70%;
  line-height: 0;
}
.justify {
  text-align: justify;
}
@media print {
  .screen-only {
    display: none;
  }
}
@media screen {
  .print-only {
    display: none;
  }
}
@media print {
  div,
  span,
  article {
    float: none !important;
  }
  nav,
  .qtrans_language_chooser {
    display: none;
  }
}
#top-nav > div,
#bottom-header-wrapper,
#footer-wrapper,
#main {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
@media print {
  #top-nav > div,
  #bottom-header-wrapper,
  #footer-wrapper,
  #main {
    width: 100%;
  }
}
#main {
  padding-top: 40px;
  padding-bottom: 70px;
}
#main.home {
  padding-top: 15px;
}
@media print {
  #footer {
    display: none;
  }
}
/**************/
/* Front page */
/**************/
.front-splash {
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 100%;
  height: auto;
  background: #beac86;
  color: #fff;
}
.front-splash h1 {
  position: absolute;
  width: 60%;
  left: 16px;
  bottom: 16px;
  line-height: 1;
}
.front-splash img {
  display: block;
  float: right;
  width: 32%;
  margin-bottom: -40px;
}
div.teaser-bar {
  margin: 2em 0;
  line-height: 1.5em;
}
div.teaser-bar h2 {
  color: #4e4c4f;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
  margin-bottom: .7ex;
}
div.teaser-bar ul {
  margin: 0 auto;
}
div.teaser-bar p {
  margin-bottom: 0.35em;
}
div.teaser-bar a {
  color: #b92900;
  transition: color 300ms;
}
div.teaser-bar a:focus,
div.teaser-bar a:active,
div.teaser-bar a:hover {
  color: #000;
  text-decoration: none;
}
div.teaser-bar a.mehr-lesen {
  font-family: 'OpenSans-Bold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 2px;
  transition: color 300ms;
  display: block;
  margin-top: 1ex;
}
div.teaser-bar img {
  float: left;
  height: 10em;
  max-width: 33%;
  margin-right: 32px;
  margin-bottom: 32px;
}
div.teaser-bar li.widget {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 33%;
  box-sizing: border-box;
  padding: 0 1em;
  text-align: center;
}
div.teaser-bar li.widget.cap_widget_image {
  text-align: left;
}
div.teaser-bar-1 {
  padding-top: 1em;
  text-align: center;
}
div.teaser-bar-1 h2 {
  font-size: 2em;
  text-align: center;
}
div.teaser-bar-2 {
  border-top: solid 1px #1a171b;
  padding-top: 2em;
}
div.teaser-bar-2 h2 {
  font-size: 1.3em;
}
div.teaser-bar-2 li.widget {
  width: 49%;
}
/*************/
/* All pages */
/*************/
div.content-col a::after {
  font-family: "dashicons";
  line-height: 1;
}
div.content-col a.internal::after {
  /* content: "\00a0\2023"; */
}
div.content-col a.internal.bib {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: inherit;
}
div.content-col a.internal.bib::after {
  color: #b92900;
  content: "\00a0\00a0\f330";
}
div.content-col a.internal.transcription::after {
  color: #b92900;
  content: "\00a0\00a0\f464";
}
div.content-col a.external::after {
  content: "\00a0\f504";
}
div.content-col article {
  margin: 0 0 32px 0;
}
div.content-col header h2 {
  color: #b92900;
  margin: 0 0 32px 0;
}
div.content-col header.excerpt-header h2 {
  font-size: 1.3em;
  margin-bottom: 12px;
}
div.content-col table {
  margin: 16px 0;
  width: 100%;
}
div.content-col thead {
  border-bottom: solid 1px #1a171b;
}
div.content-col thead th,
div.content-col thead td {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  padding-bottom: 16px;
}
div.content-col tr {
  background: #f6f3f3;
}
div.content-col tr:nth-child(even) {
  background: #fff;
}
div.content-col th,
div.content-col td {
  text-align: left;
  padding: 6px;
}
div.content-col th p,
div.content-col td p,
div.content-col th ul,
div.content-col td ul,
div.content-col th ol,
div.content-col td ol {
  margin-top: 0;
}
div.content-col th p:last-child,
div.content-col td p:last-child,
div.content-col th ul:last-child,
div.content-col td ul:last-child,
div.content-col th ol:last-child,
div.content-col td ol:last-child {
  margin-bottom: 0;
}
div.content-col th {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col table.new-style thead {
  border-top: 1px solid #1a171b;
  border-bottom: 0 solid #1a171b;
}
div.content-col table.new-style tr {
  background: #fff;
  /* border: 1px solid @color-lightrule;
	    &:first-child {
		border-top: 0 solid @color-lightrule;
	    } */
}
div.content-col table.new-style tr:first-child td,
div.content-col table.new-style tr:first-child th {
  padding-top: 12px;
}
div.content-col table.new-style tr:last-child td,
div.content-col table.new-style tr:last-child th {
  padding-bottom: 12px;
}
div.content-col table.new-style tbody {
  border-top: 1px solid #1a171b;
  border-bottom: 1px solid #1a171b;
}
div.content-col div.tei-msDesc div.tei-msIdentifier {
  margin: 1em 0;
}
div.content-col div.tei-msDesc div.tei-altIdentifier {
  margin: 1em 0;
}
div.content-col div.tei-msDesc div.tei-facsimile {
  margin: 1em 0;
}
div.content-col div.capit-xsl {
  font-size: 90%;
}
div.content-col div.capit-xsl table .resp {
  width: 30%;
}
div.content-col div.capit-xsl table .transcribed-p {
  width: 1%;
  font-size: 80%;
  text-align: right;
}
div.content-col div.capit-list-xsl,
div.content-col div.mss-table-xsl,
div.content-col div.mss-capit-xsl,
div.content-col div.mss-idno-xsl,
div.content-col div.mss-key-xsl {
  font-size: 90%;
}
div.content-col div.capit-list-xsl table,
div.content-col div.mss-table-xsl table,
div.content-col div.mss-capit-xsl table,
div.content-col div.mss-idno-xsl table,
div.content-col div.mss-key-xsl table {
  table-layout: fixed;
  font-size: 90%;
}
div.content-col div.capit-list-xsl table td,
div.content-col div.mss-table-xsl table td,
div.content-col div.mss-capit-xsl table td,
div.content-col div.mss-idno-xsl table td,
div.content-col div.mss-key-xsl table td {
  padding: 4px 8px;
}
div.content-col div.capit-list-xsl table th,
div.content-col div.mss-table-xsl table th,
div.content-col div.mss-capit-xsl table th,
div.content-col div.mss-idno-xsl table th,
div.content-col div.mss-key-xsl table th {
  padding: 16px 8px;
  border-bottom: solid 1px #1a171b;
}
div.content-col div.capit-list-xsl table .siglum {
  width: 20%;
}
div.content-col div.capit-list-xsl table .title {
  width: 65%;
}
div.content-col div.capit-list-xsl table td.title {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.capit-list-xsl table td.title a[href],
div.content-col div.capit-list-xsl table td.title a[href]:active,
div.content-col div.capit-list-xsl table td.title a[href]:focus,
div.content-col div.capit-list-xsl table td.title a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-table-xsl table .shelfmark {
  width: 27%;
}
div.content-col div.mss-table-xsl table .capit {
  width: 46%;
}
div.content-col div.mss-capit-xsl table .capit {
  width: 35%;
}
div.content-col div.mss-capit-xsl table td.capit {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-capit-xsl table td.capit a[href],
div.content-col div.mss-capit-xsl table td.capit a[href]:active,
div.content-col div.mss-capit-xsl table td.capit a[href]:focus,
div.content-col div.mss-capit-xsl table td.capit a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-capit-xsl table td.mss {
  line-height: 120%;
}
div.content-col div.mss-capit-xsl .mss-capit-capitular-siglum {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-capit-xsl div.note {
  margin-top: 1em;
  text-align: justify;
  font-size: 85%;
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-idno-xsl span.siglum {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-idno-xsl span.siglum a[href],
div.content-col div.mss-idno-xsl span.siglum a[href]:active,
div.content-col div.mss-idno-xsl span.siglum a[href]:focus,
div.content-col div.mss-idno-xsl span.siglum a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-key-xsl th.siglum,
div.content-col div.mss-key-xsl td.siglum {
  width: 10%;
}
div.content-col .bib-short-title {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.hr {
  /* a horizontal rule always */
  margin: 3em 0;
  border-top: 1px solid #000;
}
div.hr .compact {
  margin: 1em 0;
}
div.page-break {
  /* a horizontal rule on screen and a page break on print */
  page-break-before: always;
}
@media screen {
  div.page-break {
    margin: 3em 0;
    border-top: 1px solid #000;
  }
  div.page-break .compact {
    margin: 1em 0;
  }
}
div.page-break + div.page-break {
  /* Quick fix for duplicated page-breaks. */
  display: none;
}
div.back-to-top {
  margin: 3em 0;
  text-align: right;
  line-height: 1.75em;
}
div.back-to-top a::after {
  font-family: "dashicons";
  font-size: 12px;
  content: " \f343";
}
div.back-to-top.back-to-top-with-rule {
  border-top: 1px solid #000;
}
div.back-to-top.back-to-top-compact {
  margin: 0;
}
@media print {
  div.back-to-top {
    display: none;
  }
}
div.search-pagination-nav {
  margin: 14px 0;
  padding: 14px 0;
  border: solid 1px #1a171b;
  border-width: 1px 0 1px 0;
  font-size: smaller;
}
div.search-pagination-nav .screen-reader-text {
  display: none;
}
div.search-pagination-nav-bottom {
  border-width: 1px 0 0 0;
}
.search-results li {
  padding: 10px 0;
}
.search-results p {
  padding-top: 6px;
}
.search-results b {
  font-family: 'OpenSans-Bold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
#main:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}
.content-col {
  float: left;
  width: 64%;
}
@media print {
  .content-col {
    float: none;
    width: 100%;
  }
}
.sidebar-col {
  float: right;
  width: 28%;
}
@media print {
  .sidebar-col {
    float: none;
    display: none;
  }
}
.kapitularien-uebersicht {
  margin-bottom: 48px;
}
.kapitularien-uebersicht li {
  padding: 24px 0 16px;
  border-bottom: solid 1px #1a171b;
}
.kapitularien-uebersicht li:last-child {
  border-bottom: none;
}
.pager li a,
.downloads li a,
.kapitularien-uebersicht li a {
  text-decoration: none;
  transition: color 300ms;
}
.pager li a:hover,
.pager li a:focus,
.pager li a:active,
.downloads li a:hover,
.downloads li a:focus,
.downloads li a:active,
.kapitularien-uebersicht li a:hover,
.kapitularien-uebersicht li a:focus,
.kapitularien-uebersicht li a:active {
  color: #000;
}
select {
  width: 100%;
  margin: 8px 0 16px;
  display: block;
  border: none;
  position: relative;
  border-radius: 6px;
  border-top: solid 1px #e0e0e0;
  border-left: solid 1px #e0e0e0;
  border-bottom: solid 2px #cccccc;
  height: 1.6em;
  padding-left: 1em;
  box-sizing: border-box;
  background: url('../img/icon-selectbox.png') right no-repeat #fff;
  background-size: contain;
}
input[type="text"] {
  width: 100%;
  margin: 8px 0 16px;
  border: none;
  padding: 4px 8px;
  box-sizing: border-box;
}
.reset-form {
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  transition: color 500ms;
}
.reset-form:hover,
.reset-form:focus,
.reset-form:active {
  color: #000;
  text-decoration: none;
}
/***********/
/* Content */
/***********/
span.mentioned {
  /* Must be global because it gets moved outside of content-col by
       jquery-ui. */
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
span.mentioned a[href],
span.mentioned a[href]:active,
span.mentioned a[href]:focus,
span.mentioned a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col {
  text-align: justify;
  line-height: 1.4em;
}
div.content-col ul,
div.content-col ol {
  margin: 1.5em 0;
}
div.content-col li {
  margin-left: 1.5em;
  list-style: disc outside;
}
div.content-col ul.bare > li {
  margin-left: 0;
  list-style-type: none;
}
div.content-col ul.dash > li {
  position: relative;
  margin-left: 2em;
  list-style-type: none;
}
div.content-col ul.dash > li::before {
  position: absolute;
  margin-left: -1em;
  content: "-";
}
div.content-col hr {
  margin: 3em 0;
}
div.content-col .rend-red,
div.content-col .rend-colored,
div.content-col .rend-coloured {
  color: #b92900;
}
div.content-col .rend-default {
  color: black;
}
div.content-col .rend-italic {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col .rend-italic a[href],
div.content-col .rend-italic a[href]:active,
div.content-col .rend-italic a[href]:focus,
div.content-col .rend-italic a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col .rend-semibold {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col .rend-super {
  text-align: super;
  font-size: smaller;
}
div.content-col .align-left {
  text-align: left;
}
div.content-col .align-center {
  text-align: center;
}
div.content-col .align-right {
  text-align: right;
}
div.content-col .align-bottom {
  vertical-align: bottom;
}
div.content-col .float-left {
  display: block;
  float: left;
  margin: 0 1em 1em 0;
}
div.content-col .float-right {
  display: block;
  float: left;
  margin: 0 0 1em 1em;
}
div.content-col div.xsl-output ul {
  list-style: disc outside;
}
div.content-col div.xsl-output ol {
  list-style: decimal outside;
}
div.content-col div.xsl-output ol.alphabetisch {
  list-style-type: lower-alpha;
}
div.content-col div.xsl-output ol ol {
  list-style-type: upper-alpha;
}
div.content-col div.xsl-output ol ol ol {
  list-style-type: lower-roman;
}
div.content-col div.xsl-output ol ol ol ol {
  list-style-type: lower-alpha;
}
div.content-col div.xsl-output ol li {
  margin-left: 2em;
  padding-left: 0.5em;
}
div.content-col div.xsl-output ul.tei-msItem li,
div.content-col div.xsl-output ul.downloads li {
  margin-left: 0;
  list-style: none;
}
div.content-col div.xsl-output .xml-comment {
  background-color: yellow;
}
div.content-col div.xsl-output div.mss-header-xsl {
  font-size: 90%;
}
div.content-col div.xsl-output div.mss-header-xsl img {
  vertical-align: middle;
}
div.content-col div.xsl-output div.mss-header-xsl table.tei-physDesc-table {
  table-layout: fixed;
  width: 100%;
}
div.content-col div.xsl-output div.mss-header-xsl table.tei-physDesc-table th {
  width: 25%;
}
div.content-col div.xsl-output div.mss-header-xsl div.tei-msDesc div.mss-of-the-month {
  margin-top: 1em;
}
div.content-col div.xsl-output div.mss-header-xsl div.tei-listBibl li {
  font-size: 90%;
  list-style-type: square;
}
div.content-col div.xsl-output div.mss-header-xsl span.tei-note-corr {
  color: #b92900;
}
div.content-col div.xsl-output div.mss-transcript-xsl {
  font-size: 90%;
  /* CTE */
}
div.content-col div.xsl-output div.mss-transcript-xsl div.tei-body {
  font-size: 120%;
  line-height: 200%;
}
div.content-col div.xsl-output div.mss-transcript-xsl div.ab-meta-text,
div.content-col div.xsl-output div.mss-transcript-xsl div.abMETA {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl div.corresp {
  font-size: 70%;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #4e4c4f;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.folio {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #4e4c4f;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.initial {
  display: inline-block;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 110%;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.initial-word-wrapper {
  white-space: nowrap;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.versalie {
  font-size: 110%;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-gap {
  white-space: nowrap;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href],
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:active,
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:focus,
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness-siglum {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #b92900;
}
div.content-col div.xsl-output div.mss-transcript-xsl li.compact,
div.content-col div.xsl-output div.mss-transcript-xsl ul.compact {
  margin-top: 0;
  margin-bottom: 0;
}
div.content-col div.xsl-output div.mss-footer-xsl {
  font-size: 90%;
}
div.content-col div.xsl-output div.mss-footer-xsl div.tei-revisionDesc table .col-1 {
  width: 20%;
}
div.content-col div.xsl-output div.mss-footer-xsl ul.downloads li {
  padding: 16px 12px;
  background: #e9e1c1;
  border-bottom: solid 1px #fff;
}
div.content-col div.xsl-output div.mss-footer-xsl ul.downloads li.download-icon::before {
  font-family: "dashicons";
  font-size: 24px;
  content: "\f316";
  float: left;
  padding-right: 1em;
}
div.content-col div.xsl-output div.mss-footer-xsl ul.downloads li:last-child {
  border-bottom: none;
}
/*************/
/* Footnotes */
/*************/
div.content-col div.footnotes-wrapper {
  display: none;
}
@media print {
  div.content-col div.footnotes-wrapper {
    display: block;
  }
}
div.content-col .annotation-ref {
  vertical-align: super;
  font-size: 70%;
  line-height: 0;
}
div.annotation-content {
  /* gets copied by jquery-ui tooltip () so it is not necessarily inside content-col */
  font-size: 80%;
  line-height: 150%;
}
@media print {
  div.annotation-content:first-child::before {
    display: block;
    content: '';
    margin-top: 1ex;
    border-top: 1px solid #000;
    padding-top: 1ex;
    width: 25%;
  }
}
div.annotation-content .annotation-backref {
  display: none;
}
@media print {
  div.annotation-content .annotation-backref {
    display: block;
    float: left;
    width: 2.5em;
    text-align: right;
  }
}
@media print {
  div.annotation-content .annotation-text {
    margin-left: 3em;
  }
}
body div.ui-tooltip-footnote {
  background-color: #e9e1c1;
  padding: 8px;
  max-width: 400px;
  box-shadow: 5px 5px 5px #978f7d;
  border-width: 0;
}
/***********/
/* Sidebar */
/***********/
.sidebar-col h2 {
  font-size: 1.3em;
  margin: 1.5em 0 1em;
}
.sidebar-col ul.menu {
  background: #e9e1c1;
}
.sidebar-col ul.menu li {
  border-bottom: 1px solid #fff;
  /* HACK for Alphabet Menus */
  /* HACK for Alphabet Menus */
}
.sidebar-col ul.menu li:last-child {
  border-bottom: none;
}
.sidebar-col ul.menu li a {
  display: block;
  line-height: 1.3;
  padding: 16px 8px;
  color: #b92900;
  background: #e9e1c1;
}
.sidebar-col ul.menu li.dynamic-menu-item-level-2.dynamic-menu-item-inline {
  float: left;
  width: 8%;
  padding-right: 8px;
  text-align: center;
  border-bottom: none;
}
.sidebar-col ul.menu li.dynamic-menu-item-float {
  float: left;
  width: 8%;
  padding-right: 8px;
  text-align: center;
  border-bottom: none;
}
/*******************/
/* Legend Slideout */
/*******************/
#legend table {
  font-size: 80%;
}
#legend table .legend-col-1 {
  width: 33%;
}
#legend table th,
#legend table td {
  text-align: left;
  padding: 4px;
}
#legend table th {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid white;
}
div.slideout {
  position: fixed;
  top: 40px;
  width: 600px;
  right: -500px;
  z-index: 20;
  transition-duration: 0.5s;
}
div.slideout.slideout-active {
  right: 0;
}
div.slideout .slideout-inner {
  background: #e9e1c1;
  margin-left: 100px;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 5px 5px 5px #978f7d;
  position: relative;
  z-index: 21;
}
div.slideout .slideout-inner div.hr {
  display: none;
}
div.slideout .slideout-tab {
  float: left;
  width: 100px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
div.slideout .slideout-tab h5 {
  margin: 0;
  text-align: center;
  background: #e9e1c1;
  padding: 0.5em 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: -5px 5px 5px #978f7d;
  z-index: 20;
}
