@import (reference) "../bower_components/bootstrap/less/variables.less";
@import (reference) "../bower_components/bootstrap/less/mixins/grid.less";
@import (reference) "../bower_components/bootstrap/less/mixins/clearfix.less";
@import (reference) "fonts.less";
@import (reference) "colors.less";

html {
    /* otherwise bootstrap makes this very small */
    font-size: 100%;
}

body {
    .regular;
    color: @color-text;
    background: @background;
    /* otherwise bootstrap makes this very small */
    font-size: 100%;
    line-height: 1.3;
}

p {
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 2em 0;
    line-height: 1.5em;
    text-align: left;
}

h4, h5, h6 {
    margin: 2em 0 1em 0;
}

h1 {
    .light;
    font-size: 3em;
    margin: 0;
}

h2 {
    .regular;
    font-size: 2.4em;
}

h3 {
    .regular;
    font-size: 2em;
}

h4 {
    .semibold;
    font-size: 1.3em;
}

h5 {
    .semibold;
}

h6 {
    .regular;
    text-decoration: underline;
}

ol, ul {
    margin: 0;
    padding: 0;
	list-style: none;
}

img {
    max-width: 100%;
}

a[href] {
    .semibold;
    color: @color-link;
    text-decoration: none;
}

a[href]:active ,
a[href]:focus ,
a[href]:hover {
    text-decoration: underline;
}

.regular {
    .regular;
}

i, em, .italic {
    .italic;
    a[href],
    a[href]:active,
    a[href]:focus,
    a[href]:hover {
        .semibold-italic;
    }
}

b, strong, .bold {
    .bold;
}

.small {
    font-size: small;
}

.black {
    color: @color-text;
}

.red {
    color: @color-red;
}

.sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

.sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

.justify {
    text-align: justify;
}

.screen-only {
    @media print {
        display: none;
    }
}

.print-only {
    @media screen {
        display: none;
    }
}

@media print {
    /* undo bootstrap madness */
    a[href]:after {
        content: none !important;
    }
}

/***********/
/* Headers */
/***********/

div.container {
    > header {
        .make-row(); /* see: https://getbootstrap.com/css/ */
        .clearfix();
    }
    > main {
        .make-row();
        .clearfix();
    }
    > footer {
        .make-row();
        .clearfix();
    }
}

.cap-row {
    .make-row();
}

.cap-left-col {
    .make-sm-column(8);
    .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
}

.cap-right-col {
    .make-sm-column(4);
    .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
}

.cap-left-col-pull {
    /* a column that comes on bottom on mobile but on the left on desktop */
    .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
    .make-sm-column(8);
    .make-sm-column-pull(4); /* pull 4 to the left */
}

.cap-right-col-push {
    /* a column that comes on top on mobile but on the right on desktop */
    .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
    .make-sm-column(4);
    .make-sm-column-push(8); /* push 8 to the right */
}

nav {
    &.horiz-nav {
        .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
        .clearfix();
    }
    @media print {
        display: none
    }
}

#bottom-nav {
    padding-top: 20px;
    border-bottom: solid 1px @color-rule;
}

#main {
    > div {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

#main.home > div {
    padding-top: 15px;
}

#header2 > div {
    padding-top: 40px;
}

/**********/
/* Footer */
/**********/

#footer {
    background: @color-gray;
    color: @color-white;
    font-size: 0.825em;
    @media print {
        display: none;
    }
}

.logo-bar {
    .make-row(); /* see: https://getbootstrap.com/css/ */
    .clearfix();

    li.widget {
        .make-xs-column(3); /* see: https://getbootstrap.com/css/ */
        a {
            display: block;
            width: 33%;
            margin: 20px auto;
            img {
                width: 100%;
            }
        }
    }
}


/**************/
/* Front page */
/**************/

.ribbon() {
    height: auto;
    font-size: 75%;
    @media (min-width: @screen-sm-min) {
        height: ((@screen-sm-min / 3) - @grid-gutter-width) * 276 / 352;
        font-size: 100%;
    }
    @media (min-width: @screen-md-min) {
        height: ((@screen-md-min / 3) - @grid-gutter-width) * 276 / 352;
        font-size: 100%;
    }
    @media (min-width: @screen-lg-min) {
        height: ((@screen-lg-min / 3) - @grid-gutter-width) * 276 / 352;
        font-size: 100%;
    }
}

.front-splash {
    .make-row(); /* see: https://getbootstrap.com/css/ */
    .clearfix();
    position: relative;

    margin-top:    40px;
    margin-bottom: 40px;
    background: @color-startpage-box;
    color: @color-white;

    div.front-splash-caption {
        .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
        .make-sm-column(8);
        /* undo the bootstrap default of position: relative because we need to position
           at the bottom of div.front-splash */
        position: static;
        h1 {
            line-height: 1;
            @media (min-width: @screen-sm-min) {
                position: absolute;
                bottom: 15px;
                width: 60%;
            }
            span {
                font-size: 75%;
                @media (min-width: @screen-md-min) {
                    font-size: 100%;
                }
            }
        }
    }
    ul.front-splash-image {
        .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
        .make-sm-column(4);
        img {
            margin-bottom: -12%;
            margin-top: 2%;
            display: block;
            width: 100%;
        }
    }
}

ul.teaser-bar {
    .make-row(); /* see: https://getbootstrap.com/css/ */
    .clearfix();

    margin: 0 auto;
    margin: 2em 0;
    line-height: 1.5em;
    li.widget {
        margin-bottom: 1em;
        /* @media (min-width: @screen-sm-min) { */
    }
    h2 {
        color: @color-gray;
        .semibold;
        margin-top: 0;
        margin-bottom: .7ex;
    }
    p {
        margin-bottom: 0.35em;
    }
    a {
        color: @color-link;
        transition: color 300ms;
        &:focus,
        &:active,
        &:hover {
            color: @color-black;
            text-decoration: none;
        }
        &.mehr-lesen {
            .bold;
            text-transform: uppercase;
            font-size: 0.7em;
            letter-spacing: 2px;

            transition:color 300ms;
            display: block;
            margin-top: 1ex;
        }
    }
    img {
        float: left;
        max-width: 33%;
        margin-right: 32px;
        margin-bottom: 32px;
    }
}

ul.teaser-bar-1 {
    li.widget {
        .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
        .make-sm-column(4);
    }
    padding-top: 1em;
    text-align: center;
    h2 {
        font-size: 2em;
        text-align: center;
    }
}

ul.teaser-bar-2 {
    li.widget {
        .make-xs-column(12); /* see: https://getbootstrap.com/css/ */
        .make-sm-column(6);
        text-align: left;
    }
    border-top: solid 1px @color-rule;
    padding-top: 2em;
    h2 {
        font-size: 1.3em;
    }
}


/***********/
/* Gadgets */
/***********/

div.hr {
    /* a horizontal rule always */
    margin: 3em 0;
    border-top: 1px solid @color-black;
    .compact {
        margin: 1em 0;
    }
}

div.page-break {
    /* a horizontal rule on screen and a page break on print */
    @media screen {
        margin: 3em 0;
        border-top: 1px solid @color-black;
        .compact {
            margin: 1em 0;
        }
    }
    page-break-before: always;
}

div.page-break + div.page-break {
    /* Quick fix for duplicated page-breaks. */
    display: none;
}

div.back-to-top {
    margin: 3em 0;
    text-align: right;
    line-height: 1.75em;
    a::after {
        font-family: "dashicons";
        font-size: 12px;
        content: " \f343";
    }
    &.back-to-top-with-rule {
        border-top: 1px solid @color-black;
    }
    &.back-to-top-compact {
        margin: 0;
    }
    @media print {
        display: none;
    }
}

div.search-your-search {
}

div.pagination-nav {
    margin:  14px 0;
    padding: 14px 0;
    border: solid 1px @color-rule;
    font-size: smaller;

    .screen-reader-text {
        display: none
    }
}

div.pagination-nav-top {
    border-width: 1px 0;
}

div.pagination-nav-bottom {
    border-width: 1px 0 0 0;
}

div.search-results, .index-results {
    margin: 2em 0;
    li {
        padding:10px 0;
    }
    p {
        padding-top:6px;
    }
    b {
        .bold;
    }
}

.downloads li a {
    text-decoration:none;
    transition:color 300ms;
}

.downloads li a:hover,
.downloads li a:focus,
.downloads li a:active {
    color:@color-black;
}

/***********/
/* Content */
/***********/

span.break-word {
    overflow-wrap: break-word;
}

div.content-col {
    @media print {
        /* otherwise we get no page-breaks because this is floated by bootstrap */
        float: none;
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }
    a {
        &.milestone {
            display: inline-block;
            height: 1.5em;
            float: left;
        }
        &.internal {
            &::after {
                font-family: "dashicons";
                line-height: 1;
                color: @color-link;
            }
            &.bib {
                .regular;
                color: inherit;
                &::after {
                    content: "\00a0\00a0\f330";
                }
            }
            &.transcription {
                &::after {
                    content: "\00a0\00a0\f464";
                }
            }
            &.prev-transcription {
                &::after {
                    content: "\f141\00a0";
                }
            }
            &.next-transcription {
                &::after {
                    content: "\00a0\f139";
                }
            }
        }
        &.external {
            &::after {
                font-family: "dashicons";
                line-height: 1;
                color: @color-link;
                content: "\00a0\00a0\f504";
            }
        }
    }

    article {
        margin: 0 0 32px 0;
    }

    header {
        h2 {
            color: @color-highlight;
            margin: 0 0 32px 0;
        }
        &.excerpt-header {
            h2 {
                font-size: 1.3em;
                margin-bottom: 12px;
            }
        }
    }

    table {
        margin: 16px 0;
        width: 100%;
    }

    thead {
        border-bottom: solid 1px @color-rule;
        th, td {
            .semibold;
            padding-bottom: 16px;
        }
    }

    tr {
        background: @color-row-odd;
        &:nth-child(even) {
            background: @color-row-even;
        }
    }

    th, td {
        text-align: left;
        padding: 6px;
        p, ul, ol {
            margin-top: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    th {
        .semibold;
    }

    table.new-style {
        thead {
            border-top:    1px solid @color-rule;
            border-bottom: 0 solid @color-rule;
        }
        tr {
            background: @color-white;
            &:first-child {
                td, th {
                    padding-top: 12px;
                }
            }
            &:last-child {
                td, th {
                    padding-bottom: 12px;
                }
            }
/* border: 1px solid @color-lightrule;
        &:first-child {
        border-top: 0 solid @color-lightrule;
        } */
        }
        tbody {
            border-top:    1px solid @color-rule;
            border-bottom: 1px solid @color-rule;
        }
    }

    div.footnotes-wrapper {
        @media screen {
            display: none;
        }
    }

    .annotation-ref {
        .sup;
        span.footnote-siglum {
            .red;
        }
    }

    span.tei-mentioned {
        .italic;
    }

    div.tei-front {
        .italic;
        span.tei-mentioned {
            .regular;
        }
    }

    div.tei-msDesc {
        div.tei-msIdentifier {
            margin: 1em 0;
        }
        div.tei-altIdentifier {
            margin: 1em 0;
        }
        div.tei-facsimile {
            margin: 1em 0;
        }
    }

    div.capit-xsl {
        font-size: 90%;
        table {
            .resp {
                width: 30%;
            }
            .value{
            }
            .transcribed-p {
                width: 1%;
                font-size: 80%;
                text-align: right;
            }
        }
    }

    div.capit-list-xsl, div.mss-table-xsl, div.mss-capit-xsl, div.mss-idno-xsl, div.mss-key-xsl {
        font-size: 90%;
        table {
            table-layout: fixed;
            font-size: 90%;

            td {
                padding: 4px 8px;
            }
            th {
                padding: 16px 8px;
                border-bottom: solid 1px @color-rule;
            }
        }
    }

    div.capit-list-xsl {
        table {
            .siglum {
                width: 20%;
            }
            .title {
                width: 65%;
            }
            td.title {
                .italic;
            }
            td.internal {
            }
        }
    }

    div.mss-table-xsl {
        table {
            .shelfmark {
                width: 27%;
            }
            .capit {
                width: 46%;
            }
            .origin {
            }
        }
    }

    div.mss-capit-xsl {
        table {
            .capit {
                width: 35%;
            }
            td.capit {
                .italic;
            }
            td.mss {
                line-height: 120%;
            }
        }
        .mss-capit-capitular-siglum {
            .regular;
        }
        div.note {
            margin-top: 1em;
            text-align: justify;
            font-size: 85%;
            .regular;
        }
    }

    div.mss-idno-xsl {
        span.siglum {
            .italic;
        }
    }

    div.mss-key-xsl {
        th, td {
            &.siglum {
                width: 15%;
            }
        }
    }

    .bib-short-title {
        .semibold;
    }
}

div.content-col, div.annotation-content {
    text-align: justify;
    line-height: 1.4em;

    ul, ol {
        margin: 1.5em 0;
    }

    li {
        margin-left: 1.5em;
        list-style: disc outside;
    }

    ul.bare > li {
        margin-left: 0;
        list-style-type: none;
    }

    ul.dash > li {
        position: relative;
        margin-left: 2em;
        list-style-type: none;
        &::before {
            position: absolute;
            margin-left: -1em;
            content: "-";
        }
    }

    hr {
        margin: 3em 0;
    }

    .rend-red,
    .rend-colored,
    .rend-coloured {
        .red;
    }

    .rend-default {
        .black;
    }

    .rend-italic {
        .italic;
    }

    .rend-semibold {
        .semibold;
    }

    .rend-super {
        .sup;
    }

    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .align-bottom {
        vertical-align: bottom;
    }
    .float-left {
        display: block;
        float: left;
        margin: 0 1em 1em 0;
    }
    .float-right {
        display: block;
        float: left;
        margin: 0 0 1em 1em;
    }

    div.xsl-output {
        ul {
            list-style: disc outside;
        }
        ol {
            list-style: decimal outside;
        }
        ol.alphabetisch {
            list-style-type: lower-alpha;
        }
        ol ol {
            list-style-type: upper-alpha;
        }
        ol ol ol {
            list-style-type: lower-roman;
        }
        ol ol ol ol {
            list-style-type: lower-alpha;
        }
        ol li {
            margin-left: 2em;
            padding-left: 0.5em;
        }

        ul.tei-msItem,
        ul.downloads {
            li {
                margin-left: 0;
                list-style: none;
            }
        }

        .xml-comment {
            background-color: yellow;
        }

        div.mss-header-xsl {
            font-size: 90%;

            img {
                vertical-align:middle;
            }
            table.tei-physDesc-table {
                table-layout: fixed;
                width: 100%;
                th {
                    width: 25%;
                }
            }
            div.tei-msDesc div.mss-of-the-month {
                margin-top: 1em;
            }
            div.tei-listBibl li {
                font-size: 90%;
                list-style-type: square;
            }
            span.tei-note-corr {
                .red;
            }
        }

        div.mss-transcript-xsl {
            font-size: 90%;

            div.tei-body {
                font-size: 120%;
                line-height: 200%;
            }

            div.ab-meta-text, div.abMETA {
                .semibold;
            }
            div.corresp {
                font-size: 70%;
                .semibold;
                color: @color-gray;
            }
            span.folio {
                .regular;
                .semibold;
                color: @color-gray;
            }
            span.initial {
                display: inline-block;
                .semibold;
                font-size: 110%;
            }
            span.initial-word-wrapper {
                white-space: nowrap;
            }
            span.versalie {
                font-size: 110%;
                .semibold;
            }
            span.tei-gap {
                white-space: nowrap;
            }
            /* CTE */
            span.tei-witness {
                .italic;
            }
            span.tei-witness-siglum {
                .semibold;
                color: @color-highlight;
            }
            li, ul {
                &.compact {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        div.mss-footer-xsl,
        div.capit-xsl {
            font-size: 90%;

            div.tei-revisionDesc {
                table {
                    .col-1 {
                        width: 20%;
                    }
                }
            }
            ul.downloads li {
                padding: 16px 12px;
                background: @color-beige;
                border-bottom: solid 1px @color-white;

                &.download-icon::before {
                    font-family: "dashicons";
                    font-size: 24px;
                    content: "\f316";
                    float: left;
                    padding-right: 1em;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

/*************/
/* Footnotes */
/*************/

div.annotation-content {
    /* gets copied by jquery-ui tooltip () so it is not necessarily inside content-col */
    text-align: left;
    font-size: 80%;
    line-height: 1.5em;

    @media print {
        &:first-child::before {
            display: block;
            content: '';
            margin-top: 1ex;
            border-top: 1px solid @color-black;
            padding-top: 1ex;
            width: 25%;
        }
    }
    .annotation-backref {
        display: none;
        @media print {
            display: block;
            float: left;
            width: 2.5em;
            text-align: right;
        }
    }
    .annotation-text {
        .italic;
        span.tei-mentioned {
            .regular;
        }
        sup.mentioned-index {
            .regular;
        }
        @media print {
            margin-left: 3em;
        }
    }
}

div.ui-widget.ui-widget-content.ui-tooltip-footnote {
    background-color: @background-box;
    padding: 8px;
    max-width: 400px;
    box-shadow: @shadow-box;
    border-width: 0;
}

/***********/
/* Sidebar */
/***********/

.sidebar-col {
    @media print {
        display: none;
    }
    h2 {
        font-size: 1.3em;
        margin: 1.5em 0 1em;
    }
    ul.menu {
        background:  @color-beige;
        li {
            border-bottom: 1px solid @color-white;
            &:last-child {
                border-bottom: none;
            }
            a {
                display: block;
                line-height: 1.3;
                padding: 16px 8px;
                color:  @color-link;
                background:  @color-beige;
            }
            /* HACK for Alphabet Menus */
            &.dynamic-menu-item-level-2.dynamic-menu-item-inline {
                float: left;
                width: 2em;
                text-align: center;
                border-bottom: none;
            }
            /* HACK for Alphabet Menus */
            &.dynamic-menu-item-float {
                float: left;
                width: 2em;
                text-align: center;
                border-bottom: none;
            }
        }
    }
}


/*******************/
/* Legend Slideout */
/*******************/

@slideout-width:     600px;
@slideout-tab-width: 100px;

#legend {
    table {
        font-size: 80%;
        .legend-col-1 {
            width: 33%;
        }
        th, td {
            text-align: left;
            padding: 4px;
        }
        th {
            .semibold;
            border-bottom: 1px solid white;
        }
    }
}

div.slideout {
    position: fixed;
    top: 40px;
    width: @slideout-width;
    right: @slideout-tab-width - @slideout-width;
    z-index: 20;
    transition-duration: 0.5s;
    &.slideout-active {
        right: 0;
    }
    .slideout-inner {
        background: @background-box;
        margin-left: @slideout-tab-width;
        padding: 1em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        box-shadow: @shadow-box;
        position: relative;
        z-index: 21;
        div.hr {
            display: none;
        }
    }
    .slideout-tab {
        float: left;
        width: @slideout-tab-width;
        transform-origin: 100% 100%;
        transform: rotate(270deg);
        h5 {
            margin: 0;
            text-align: center;
            background: @background-box;
            padding: 0.5em 1em;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            box-shadow: -5px 5px 5px @color-lightgray;
            z-index: 20;
        }
    }
}
