html {
  /* otherwise bootstrap makes this very small */
  font-size: 100%;
}
body {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #1a171b;
  background: #fff;
  /* otherwise bootstrap makes this very small */
  font-size: 100%;
  line-height: 1.3;
}
p {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 2em 0;
  line-height: 1.5em;
  text-align: left;
}
h4,
h5,
h6 {
  margin: 2em 0 1em 0;
}
h1 {
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  margin: 0;
}
h2 {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4em;
}
h3 {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}
h4 {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
}
h5 {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
h6 {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
a[href] {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #b92900;
  text-decoration: none;
}
a[href]:active,
a[href]:focus,
a[href]:hover {
  text-decoration: underline;
}
.regular {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
i,
em,
.italic {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
i a[href],
em a[href],
.italic a[href],
i a[href]:active,
em a[href]:active,
.italic a[href]:active,
i a[href]:focus,
em a[href]:focus,
.italic a[href]:focus,
i a[href]:hover,
em a[href]:hover,
.italic a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
b,
strong,
.bold {
  font-family: 'OpenSans-Bold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
.small {
  font-size: small;
}
.black {
  color: #1a171b;
}
.red {
  color: #b92900;
}
.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
.sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
.justify {
  text-align: justify;
}
@media print {
  .screen-only {
    display: none;
  }
}
@media screen {
  .print-only {
    display: none;
  }
}
@media print {
  /* undo bootstrap madness */
  a[href]:after {
    content: none !important;
  }
}
/***********/
/* Headers */
/***********/
div.container > header {
  margin-left: -15px;
  margin-right: -15px;
  /* see: https://getbootstrap.com/css/ */
}
div.container > header:before,
div.container > header:after {
  content: " ";
  display: table;
}
div.container > header:after {
  clear: both;
}
div.container > main {
  margin-left: -15px;
  margin-right: -15px;
}
div.container > main:before,
div.container > main:after {
  content: " ";
  display: table;
}
div.container > main:after {
  clear: both;
}
div.container > footer {
  margin-left: -15px;
  margin-right: -15px;
}
div.container > footer:before,
div.container > footer:after {
  content: " ";
  display: table;
}
div.container > footer:after {
  clear: both;
}
.cap-row {
  margin-left: -15px;
  margin-right: -15px;
}
.cap-left-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* see: https://getbootstrap.com/css/ */
}
@media (min-width: 768px) {
  .cap-left-col {
    float: left;
    width: 66.66666667%;
  }
}
.cap-right-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* see: https://getbootstrap.com/css/ */
}
@media (min-width: 768px) {
  .cap-right-col {
    float: left;
    width: 33.33333333%;
  }
}
.cap-left-col-pull {
  /* a column that comes on bottom on mobile but on the left on desktop */
  float: left;
  width: 100%;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* pull 4 to the left */
}
@media (min-width: 768px) {
  .cap-left-col-pull {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  .cap-left-col-pull {
    right: 33.33333333%;
  }
}
.cap-right-col-push {
  /* a column that comes on top on mobile but on the right on desktop */
  float: left;
  width: 100%;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* push 8 to the right */
}
@media (min-width: 768px) {
  .cap-right-col-push {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .cap-right-col-push {
    left: 66.66666667%;
  }
}
nav.horiz-nav {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* see: https://getbootstrap.com/css/ */
}
nav.horiz-nav:before,
nav.horiz-nav:after {
  content: " ";
  display: table;
}
nav.horiz-nav:after {
  clear: both;
}
@media print {
  nav {
    display: none;
  }
}
#bottom-nav {
  padding-top: 20px;
  border-bottom: solid 1px #1a171b;
}
#main > div {
  padding-top: 40px;
  padding-bottom: 40px;
}
#main.home > div {
  padding-top: 15px;
}
#header2 > div {
  padding-top: 40px;
}
/**********/
/* Footer */
/**********/
#footer {
  background: #4e4c4f;
  color: #fff;
  font-size: 0.825em;
}
@media print {
  #footer {
    display: none;
  }
}
.logo-bar {
  margin-left: -15px;
  margin-right: -15px;
  /* see: https://getbootstrap.com/css/ */
}
.logo-bar:before,
.logo-bar:after {
  content: " ";
  display: table;
}
.logo-bar:after {
  clear: both;
}
.logo-bar li.widget {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* see: https://getbootstrap.com/css/ */
}
.logo-bar li.widget a {
  display: block;
  width: 33%;
  margin: 20px auto;
}
.logo-bar li.widget a img {
  width: 100%;
}
/**************/
/* Front page */
/**************/
.front-splash {
  margin-left: -15px;
  margin-right: -15px;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #beac86;
  color: #fff;
}
.front-splash:before,
.front-splash:after {
  content: " ";
  display: table;
}
.front-splash:after {
  clear: both;
}
.front-splash div.front-splash-caption {
  float: left;
  width: 100%;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /* undo the bootstrap default of position: relative because we need to position
           at the bottom of div.front-splash */
  position: static;
}
@media (min-width: 768px) {
  .front-splash div.front-splash-caption {
    float: left;
    width: 66.66666667%;
  }
}
.front-splash div.front-splash-caption h1 {
  line-height: 1;
}
@media (min-width: 768px) {
  .front-splash div.front-splash-caption h1 {
    position: absolute;
    bottom: 15px;
    width: 60%;
  }
}
.front-splash div.front-splash-caption h1 span {
  font-size: 75%;
}
@media (min-width: 992px) {
  .front-splash div.front-splash-caption h1 span {
    font-size: 100%;
  }
}
.front-splash ul.front-splash-image {
  float: left;
  width: 100%;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .front-splash ul.front-splash-image {
    float: left;
    width: 33.33333333%;
  }
}
.front-splash ul.front-splash-image img {
  margin-bottom: -12%;
  margin-top: 2%;
  display: block;
  width: 100%;
}
ul.teaser-bar {
  margin-left: -15px;
  margin-right: -15px;
  /* see: https://getbootstrap.com/css/ */
  margin: 0 auto;
  margin: 2em 0;
  line-height: 1.5em;
}
ul.teaser-bar:before,
ul.teaser-bar:after {
  content: " ";
  display: table;
}
ul.teaser-bar:after {
  clear: both;
}
ul.teaser-bar li.widget {
  margin-bottom: 1em;
  /* @media (min-width: @screen-sm-min) { */
}
ul.teaser-bar h2 {
  color: #4e4c4f;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
  margin-bottom: .7ex;
}
ul.teaser-bar p {
  margin-bottom: 0.35em;
}
ul.teaser-bar a {
  color: #b92900;
  transition: color 300ms;
}
ul.teaser-bar a:focus,
ul.teaser-bar a:active,
ul.teaser-bar a:hover {
  color: #000;
  text-decoration: none;
}
ul.teaser-bar a.mehr-lesen {
  font-family: 'OpenSans-Bold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 2px;
  transition: color 300ms;
  display: block;
  margin-top: 1ex;
}
ul.teaser-bar img {
  float: left;
  max-width: 33%;
  margin-right: 32px;
  margin-bottom: 32px;
}
ul.teaser-bar-1 {
  padding-top: 1em;
  text-align: center;
}
ul.teaser-bar-1 li.widget {
  float: left;
  width: 100%;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  ul.teaser-bar-1 li.widget {
    float: left;
    width: 33.33333333%;
  }
}
ul.teaser-bar-1 h2 {
  font-size: 2em;
  text-align: center;
}
ul.teaser-bar-2 {
  border-top: solid 1px #1a171b;
  padding-top: 2em;
}
ul.teaser-bar-2 li.widget {
  float: left;
  width: 100%;
  /* see: https://getbootstrap.com/css/ */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
@media (min-width: 768px) {
  ul.teaser-bar-2 li.widget {
    float: left;
    width: 50%;
  }
}
ul.teaser-bar-2 h2 {
  font-size: 1.3em;
}
/***********/
/* Gadgets */
/***********/
div.hr {
  /* a horizontal rule always */
  margin: 3em 0;
  border-top: 1px solid #000;
}
div.hr .compact {
  margin: 1em 0;
}
div.page-break {
  /* a horizontal rule on screen and a page break on print */
  page-break-before: always;
}
@media screen {
  div.page-break {
    margin: 3em 0;
    border-top: 1px solid #000;
  }
  div.page-break .compact {
    margin: 1em 0;
  }
}
div.page-break + div.page-break {
  /* Quick fix for duplicated page-breaks. */
  display: none;
}
div.back-to-top {
  margin: 3em 0;
  text-align: right;
  line-height: 1.75em;
}
div.back-to-top a::after {
  font-family: "dashicons";
  font-size: 12px;
  content: " \f343";
}
div.back-to-top.back-to-top-with-rule {
  border-top: 1px solid #000;
}
div.back-to-top.back-to-top-compact {
  margin: 0;
}
@media print {
  div.back-to-top {
    display: none;
  }
}
div.pagination-nav {
  margin: 14px 0;
  padding: 14px 0;
  border: solid 1px #1a171b;
  font-size: smaller;
}
div.pagination-nav .screen-reader-text {
  display: none;
}
div.pagination-nav-top {
  border-width: 1px 0;
}
div.pagination-nav-bottom {
  border-width: 1px 0 0 0;
}
div.search-results,
.index-results {
  margin: 2em 0;
}
div.search-results li,
.index-results li {
  padding: 10px 0;
}
div.search-results p,
.index-results p {
  padding-top: 6px;
}
div.search-results b,
.index-results b {
  font-family: 'OpenSans-Bold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
.downloads li a {
  text-decoration: none;
  transition: color 300ms;
}
.downloads li a:hover,
.downloads li a:focus,
.downloads li a:active {
  color: #000;
}
/***********/
/* Content */
/***********/
span.break-word {
  overflow-wrap: break-word;
}
@media print {
  div.content-col {
    /* otherwise we get no page-breaks because this is floated by bootstrap */
    float: none;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
  }
}
div.content-col div.ab a.milestone-chapter {
  /* This <a> is empty and Chrome will remove it if embedded in spaces and the
           link will then point to the enclosing <div> instead.  This
           declaration seems to prevent it.  */
  display: inline-block;
  height: 1.5em;
}
div.content-col a.milestone {
  /* Must be block otherwise Firefox Quantum will scroll to the middle of the line
               before it. */
  display: block;
}
div.content-col a.internal::after {
  font-family: "dashicons";
  line-height: 1;
  color: #b92900;
}
div.content-col a.internal.bib {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: inherit;
}
div.content-col a.internal.bib::after {
  content: "\00a0\00a0\f330";
}
div.content-col a.internal.transcription::after {
  content: "\00a0\00a0\f464";
}
div.content-col a.external::after {
  font-family: "dashicons";
  line-height: 1;
  color: #b92900;
  content: "\00a0\00a0\f504";
}
div.content-col article {
  margin: 0 0 32px 0;
}
div.content-col header h2 {
  color: #b92900;
  margin: 0 0 32px 0;
}
div.content-col header.excerpt-header h2 {
  font-size: 1.3em;
  margin-bottom: 12px;
}
div.content-col table {
  margin: 16px 0;
  width: 100%;
}
div.content-col thead {
  border-bottom: solid 1px #1a171b;
}
div.content-col thead th,
div.content-col thead td {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  padding-bottom: 16px;
}
div.content-col tr {
  background: #f6f3f3;
}
div.content-col tr:nth-child(even) {
  background: #fff;
}
div.content-col th,
div.content-col td {
  text-align: left;
  padding: 6px;
}
div.content-col th p,
div.content-col td p,
div.content-col th ul,
div.content-col td ul,
div.content-col th ol,
div.content-col td ol {
  margin-top: 0;
}
div.content-col th p:last-child,
div.content-col td p:last-child,
div.content-col th ul:last-child,
div.content-col td ul:last-child,
div.content-col th ol:last-child,
div.content-col td ol:last-child {
  margin-bottom: 0;
}
div.content-col th {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col table.new-style thead {
  border-top: 1px solid #1a171b;
  border-bottom: 0 solid #1a171b;
}
div.content-col table.new-style tr {
  background: #fff;
  /* border: 1px solid @color-lightrule;
        &:first-child {
        border-top: 0 solid @color-lightrule;
        } */
}
div.content-col table.new-style tr:first-child td,
div.content-col table.new-style tr:first-child th {
  padding-top: 12px;
}
div.content-col table.new-style tr:last-child td,
div.content-col table.new-style tr:last-child th {
  padding-bottom: 12px;
}
div.content-col table.new-style tbody {
  border-top: 1px solid #1a171b;
  border-bottom: 1px solid #1a171b;
}
@media screen {
  div.content-col div.footnotes-wrapper {
    display: none;
  }
}
div.content-col .annotation-ref {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
div.content-col .annotation-ref span.footnote-siglum {
  color: #b92900;
}
div.content-col span.tei-mentioned {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col span.tei-mentioned a[href],
div.content-col span.tei-mentioned a[href]:active,
div.content-col span.tei-mentioned a[href]:focus,
div.content-col span.tei-mentioned a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.tei-front {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.tei-front a[href],
div.content-col div.tei-front a[href]:active,
div.content-col div.tei-front a[href]:focus,
div.content-col div.tei-front a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.tei-front span.tei-mentioned {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.tei-msDesc div.tei-msIdentifier {
  margin: 1em 0;
}
div.content-col div.tei-msDesc div.tei-altIdentifier {
  margin: 1em 0;
}
div.content-col div.tei-msDesc div.tei-facsimile {
  margin: 1em 0;
}
div.content-col div.capit-xsl {
  font-size: 90%;
}
div.content-col div.capit-xsl table .resp {
  width: 30%;
}
div.content-col div.capit-xsl table .transcribed-p {
  width: 1%;
  font-size: 80%;
  text-align: right;
}
div.content-col div.capit-list-xsl,
div.content-col div.mss-table-xsl,
div.content-col div.mss-capit-xsl,
div.content-col div.mss-idno-xsl,
div.content-col div.mss-key-xsl {
  font-size: 90%;
}
div.content-col div.capit-list-xsl table,
div.content-col div.mss-table-xsl table,
div.content-col div.mss-capit-xsl table,
div.content-col div.mss-idno-xsl table,
div.content-col div.mss-key-xsl table {
  table-layout: fixed;
  font-size: 90%;
}
div.content-col div.capit-list-xsl table td,
div.content-col div.mss-table-xsl table td,
div.content-col div.mss-capit-xsl table td,
div.content-col div.mss-idno-xsl table td,
div.content-col div.mss-key-xsl table td {
  padding: 4px 8px;
}
div.content-col div.capit-list-xsl table th,
div.content-col div.mss-table-xsl table th,
div.content-col div.mss-capit-xsl table th,
div.content-col div.mss-idno-xsl table th,
div.content-col div.mss-key-xsl table th {
  padding: 16px 8px;
  border-bottom: solid 1px #1a171b;
}
div.content-col div.capit-list-xsl table .siglum {
  width: 20%;
}
div.content-col div.capit-list-xsl table .title {
  width: 65%;
}
div.content-col div.capit-list-xsl table td.title {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.capit-list-xsl table td.title a[href],
div.content-col div.capit-list-xsl table td.title a[href]:active,
div.content-col div.capit-list-xsl table td.title a[href]:focus,
div.content-col div.capit-list-xsl table td.title a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-table-xsl table .shelfmark {
  width: 27%;
}
div.content-col div.mss-table-xsl table .capit {
  width: 46%;
}
div.content-col div.mss-capit-xsl table .capit {
  width: 35%;
}
div.content-col div.mss-capit-xsl table td.capit {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-capit-xsl table td.capit a[href],
div.content-col div.mss-capit-xsl table td.capit a[href]:active,
div.content-col div.mss-capit-xsl table td.capit a[href]:focus,
div.content-col div.mss-capit-xsl table td.capit a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-capit-xsl table td.mss {
  line-height: 120%;
}
div.content-col div.mss-capit-xsl .mss-capit-capitular-siglum {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-capit-xsl div.note {
  margin-top: 1em;
  text-align: justify;
  font-size: 85%;
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-idno-xsl span.siglum {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-idno-xsl span.siglum a[href],
div.content-col div.mss-idno-xsl span.siglum a[href]:active,
div.content-col div.mss-idno-xsl span.siglum a[href]:focus,
div.content-col div.mss-idno-xsl span.siglum a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.mss-key-xsl th.siglum,
div.content-col div.mss-key-xsl td.siglum {
  width: 15%;
}
div.content-col .bib-short-title {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col,
div.annotation-content {
  text-align: justify;
  line-height: 1.4em;
}
div.content-col ul,
div.annotation-content ul,
div.content-col ol,
div.annotation-content ol {
  margin: 1.5em 0;
}
div.content-col li,
div.annotation-content li {
  margin-left: 1.5em;
  list-style: disc outside;
}
div.content-col ul.bare > li,
div.annotation-content ul.bare > li {
  margin-left: 0;
  list-style-type: none;
}
div.content-col ul.dash > li,
div.annotation-content ul.dash > li {
  position: relative;
  margin-left: 2em;
  list-style-type: none;
}
div.content-col ul.dash > li::before,
div.annotation-content ul.dash > li::before {
  position: absolute;
  margin-left: -1em;
  content: "-";
}
div.content-col hr,
div.annotation-content hr {
  margin: 3em 0;
}
div.content-col .rend-red,
div.annotation-content .rend-red,
div.content-col .rend-colored,
div.annotation-content .rend-colored,
div.content-col .rend-coloured,
div.annotation-content .rend-coloured {
  color: #b92900;
}
div.content-col .rend-default,
div.annotation-content .rend-default {
  color: #1a171b;
}
div.content-col .rend-italic,
div.annotation-content .rend-italic {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col .rend-italic a[href],
div.annotation-content .rend-italic a[href],
div.content-col .rend-italic a[href]:active,
div.annotation-content .rend-italic a[href]:active,
div.content-col .rend-italic a[href]:focus,
div.annotation-content .rend-italic a[href]:focus,
div.content-col .rend-italic a[href]:hover,
div.annotation-content .rend-italic a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col .rend-semibold,
div.annotation-content .rend-semibold {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col .rend-super,
div.annotation-content .rend-super {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
div.content-col .align-left,
div.annotation-content .align-left {
  text-align: left;
}
div.content-col .align-center,
div.annotation-content .align-center {
  text-align: center;
}
div.content-col .align-right,
div.annotation-content .align-right {
  text-align: right;
}
div.content-col .align-bottom,
div.annotation-content .align-bottom {
  vertical-align: bottom;
}
div.content-col .float-left,
div.annotation-content .float-left {
  display: block;
  float: left;
  margin: 0 1em 1em 0;
}
div.content-col .float-right,
div.annotation-content .float-right {
  display: block;
  float: left;
  margin: 0 0 1em 1em;
}
div.content-col div.xsl-output ul,
div.annotation-content div.xsl-output ul {
  list-style: disc outside;
}
div.content-col div.xsl-output ol,
div.annotation-content div.xsl-output ol {
  list-style: decimal outside;
}
div.content-col div.xsl-output ol.alphabetisch,
div.annotation-content div.xsl-output ol.alphabetisch {
  list-style-type: lower-alpha;
}
div.content-col div.xsl-output ol ol,
div.annotation-content div.xsl-output ol ol {
  list-style-type: upper-alpha;
}
div.content-col div.xsl-output ol ol ol,
div.annotation-content div.xsl-output ol ol ol {
  list-style-type: lower-roman;
}
div.content-col div.xsl-output ol ol ol ol,
div.annotation-content div.xsl-output ol ol ol ol {
  list-style-type: lower-alpha;
}
div.content-col div.xsl-output ol li,
div.annotation-content div.xsl-output ol li {
  margin-left: 2em;
  padding-left: 0.5em;
}
div.content-col div.xsl-output ul.tei-msItem li,
div.annotation-content div.xsl-output ul.tei-msItem li,
div.content-col div.xsl-output ul.downloads li,
div.annotation-content div.xsl-output ul.downloads li {
  margin-left: 0;
  list-style: none;
}
div.content-col div.xsl-output .xml-comment,
div.annotation-content div.xsl-output .xml-comment {
  background-color: yellow;
}
div.content-col div.xsl-output div.mss-header-xsl,
div.annotation-content div.xsl-output div.mss-header-xsl {
  font-size: 90%;
}
div.content-col div.xsl-output div.mss-header-xsl img,
div.annotation-content div.xsl-output div.mss-header-xsl img {
  vertical-align: middle;
}
div.content-col div.xsl-output div.mss-header-xsl table.tei-physDesc-table,
div.annotation-content div.xsl-output div.mss-header-xsl table.tei-physDesc-table {
  table-layout: fixed;
  width: 100%;
}
div.content-col div.xsl-output div.mss-header-xsl table.tei-physDesc-table th,
div.annotation-content div.xsl-output div.mss-header-xsl table.tei-physDesc-table th {
  width: 25%;
}
div.content-col div.xsl-output div.mss-header-xsl div.tei-msDesc div.mss-of-the-month,
div.annotation-content div.xsl-output div.mss-header-xsl div.tei-msDesc div.mss-of-the-month {
  margin-top: 1em;
}
div.content-col div.xsl-output div.mss-header-xsl div.tei-listBibl li,
div.annotation-content div.xsl-output div.mss-header-xsl div.tei-listBibl li {
  font-size: 90%;
  list-style-type: square;
}
div.content-col div.xsl-output div.mss-header-xsl span.tei-note-corr,
div.annotation-content div.xsl-output div.mss-header-xsl span.tei-note-corr {
  color: #b92900;
}
div.content-col div.xsl-output div.mss-transcript-xsl,
div.annotation-content div.xsl-output div.mss-transcript-xsl {
  font-size: 90%;
  /* CTE */
}
div.content-col div.xsl-output div.mss-transcript-xsl div.tei-body,
div.annotation-content div.xsl-output div.mss-transcript-xsl div.tei-body {
  font-size: 120%;
  line-height: 200%;
}
div.content-col div.xsl-output div.mss-transcript-xsl div.ab-meta-text,
div.annotation-content div.xsl-output div.mss-transcript-xsl div.ab-meta-text,
div.content-col div.xsl-output div.mss-transcript-xsl div.abMETA,
div.annotation-content div.xsl-output div.mss-transcript-xsl div.abMETA {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl div.corresp,
div.annotation-content div.xsl-output div.mss-transcript-xsl div.corresp {
  font-size: 70%;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #4e4c4f;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.folio,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.folio {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #4e4c4f;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.initial,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.initial {
  display: inline-block;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  font-size: 110%;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.initial-word-wrapper,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.initial-word-wrapper {
  white-space: nowrap;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.versalie,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.versalie {
  font-size: 110%;
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-gap,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-gap {
  white-space: nowrap;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-witness {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href],
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-witness a[href],
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:active,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:active,
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:focus,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:focus,
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:hover,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-witness a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.content-col div.xsl-output div.mss-transcript-xsl span.tei-witness-siglum,
div.annotation-content div.xsl-output div.mss-transcript-xsl span.tei-witness-siglum {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  color: #b92900;
}
div.content-col div.xsl-output div.mss-transcript-xsl li.compact,
div.annotation-content div.xsl-output div.mss-transcript-xsl li.compact,
div.content-col div.xsl-output div.mss-transcript-xsl ul.compact,
div.annotation-content div.xsl-output div.mss-transcript-xsl ul.compact {
  margin-top: 0;
  margin-bottom: 0;
}
div.content-col div.xsl-output div.mss-footer-xsl,
div.annotation-content div.xsl-output div.mss-footer-xsl,
div.content-col div.xsl-output div.capit-xsl,
div.annotation-content div.xsl-output div.capit-xsl {
  font-size: 90%;
}
div.content-col div.xsl-output div.mss-footer-xsl div.tei-revisionDesc table .col-1,
div.annotation-content div.xsl-output div.mss-footer-xsl div.tei-revisionDesc table .col-1,
div.content-col div.xsl-output div.capit-xsl div.tei-revisionDesc table .col-1,
div.annotation-content div.xsl-output div.capit-xsl div.tei-revisionDesc table .col-1 {
  width: 20%;
}
div.content-col div.xsl-output div.mss-footer-xsl ul.downloads li,
div.annotation-content div.xsl-output div.mss-footer-xsl ul.downloads li,
div.content-col div.xsl-output div.capit-xsl ul.downloads li,
div.annotation-content div.xsl-output div.capit-xsl ul.downloads li {
  padding: 16px 12px;
  background: #e9e1c1;
  border-bottom: solid 1px #fff;
}
div.content-col div.xsl-output div.mss-footer-xsl ul.downloads li.download-icon::before,
div.annotation-content div.xsl-output div.mss-footer-xsl ul.downloads li.download-icon::before,
div.content-col div.xsl-output div.capit-xsl ul.downloads li.download-icon::before,
div.annotation-content div.xsl-output div.capit-xsl ul.downloads li.download-icon::before {
  font-family: "dashicons";
  font-size: 24px;
  content: "\f316";
  float: left;
  padding-right: 1em;
}
div.content-col div.xsl-output div.mss-footer-xsl ul.downloads li:last-child,
div.annotation-content div.xsl-output div.mss-footer-xsl ul.downloads li:last-child,
div.content-col div.xsl-output div.capit-xsl ul.downloads li:last-child,
div.annotation-content div.xsl-output div.capit-xsl ul.downloads li:last-child {
  border-bottom: none;
}
/*************/
/* Footnotes */
/*************/
div.annotation-content {
  /* gets copied by jquery-ui tooltip () so it is not necessarily inside content-col */
  text-align: left;
  font-size: 80%;
  line-height: 1.5em;
}
@media print {
  div.annotation-content:first-child::before {
    display: block;
    content: '';
    margin-top: 1ex;
    border-top: 1px solid #000;
    padding-top: 1ex;
    width: 25%;
  }
}
div.annotation-content .annotation-backref {
  display: none;
}
@media print {
  div.annotation-content .annotation-backref {
    display: block;
    float: left;
    width: 2.5em;
    text-align: right;
  }
}
div.annotation-content .annotation-text {
  font-family: 'OpenSans-Italic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.annotation-content .annotation-text a[href],
div.annotation-content .annotation-text a[href]:active,
div.annotation-content .annotation-text a[href]:focus,
div.annotation-content .annotation-text a[href]:hover {
  font-family: 'OpenSans-SemiboldItalic', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.annotation-content .annotation-text span.tei-mentioned {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
div.annotation-content .annotation-text sup.mentioned-index {
  font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
}
@media print {
  div.annotation-content .annotation-text {
    margin-left: 3em;
  }
}
div.ui-widget.ui-widget-content.ui-tooltip-footnote {
  background-color: #e9e1c1;
  padding: 8px;
  max-width: 400px;
  box-shadow: 5px 5px 5px #978f7d;
  border-width: 0;
}
/***********/
/* Sidebar */
/***********/
@media print {
  .sidebar-col {
    display: none;
  }
}
.sidebar-col h2 {
  font-size: 1.3em;
  margin: 1.5em 0 1em;
}
.sidebar-col ul.menu {
  background: #e9e1c1;
}
.sidebar-col ul.menu li {
  border-bottom: 1px solid #fff;
  /* HACK for Alphabet Menus */
  /* HACK for Alphabet Menus */
}
.sidebar-col ul.menu li:last-child {
  border-bottom: none;
}
.sidebar-col ul.menu li a {
  display: block;
  line-height: 1.3;
  padding: 16px 8px;
  color: #b92900;
  background: #e9e1c1;
}
.sidebar-col ul.menu li.dynamic-menu-item-level-2.dynamic-menu-item-inline {
  float: left;
  width: 2em;
  text-align: center;
  border-bottom: none;
}
.sidebar-col ul.menu li.dynamic-menu-item-float {
  float: left;
  width: 2em;
  text-align: center;
  border-bottom: none;
}
/*******************/
/* Legend Slideout */
/*******************/
#legend table {
  font-size: 80%;
}
#legend table .legend-col-1 {
  width: 33%;
}
#legend table th,
#legend table td {
  text-align: left;
  padding: 4px;
}
#legend table th {
  font-family: 'OpenSans-Semibold', 'Helvetica', 'Arial', 'sans-serif', 'sans';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid white;
}
div.slideout {
  position: fixed;
  top: 40px;
  width: 600px;
  right: -500px;
  z-index: 20;
  transition-duration: 0.5s;
}
div.slideout.slideout-active {
  right: 0;
}
div.slideout .slideout-inner {
  background: #e9e1c1;
  margin-left: 100px;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 5px 5px 5px #978f7d;
  position: relative;
  z-index: 21;
}
div.slideout .slideout-inner div.hr {
  display: none;
}
div.slideout .slideout-tab {
  float: left;
  width: 100px;
  transform-origin: 100% 100%;
  transform: rotate(270deg);
}
div.slideout .slideout-tab h5 {
  margin: 0;
  text-align: center;
  background: #e9e1c1;
  padding: 0.5em 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: -5px 5px 5px #978f7d;
  z-index: 20;
}
/*# sourceMappingURL=content.css.map */