@import "fonts.less";

#top-nav > div,
#bottom-header-wrapper,
#footer-wrapper,
#main {
	width:1140px;
	margin:0px auto;
	position:relative;
}

.header-block {
	width:100%;
	height:auto;
	background:#beac86;
	color:#fff;
	position:relative;
	margin-top: 70px;
	margin-bottom: 70px;
}

.header-block:after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

.header-block h1,
.header-block h2,
.header-block h3,
.header-block h4 {
	display:block;
	width:60%;
	position:absolute;
	left:16px;
	bottom:16px;
}

.header-block img {
	display:block;
	width:32%;
	float:right;
	margin-bottom:-40px;
}

#main {
	padding-top:40px;
	padding-bottom:70px;
}

#main.home {
	padding-top:15px;
}

/* Teaser Bars */

div.teaser-bar {
    margin: 2em 0;
    line-height: 1.5em;
}

div.teaser-bar ul {
    margin: 0 auto;
}

div.teaser-bar-2 {
	border-top: solid 1px #0a0a0a;
	padding-top: 2em;
}

div.teaser-bar li.widget {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 33%;
    box-sizing: border-box;
    padding: 0 1em;
	text-align:center;
}

div.teaser-bar li.widget.cap_widget_image {
	text-align:left;
}

div.teaser-bar-2 li.widget {
	width: 49%;
}

div.teaser-bar h2 {
    margin-bottom: .7ex;
}

div.teaser-bar p {
	margin-bottom: 0.35em;
}

div.teaser-bar a {
	color: #4e4c4f;
	transition: color 300ms;
}

div.teaser-bar a:hover {
	color:#b92900;
	text-decoration: none;
}

div.teaser-bar img {
	float: left;
    height: 10em;
    max-width: 33%;
    margin-right: 32px;
    margin-bottom: 32px;
}

div.teaser-bar a.mehr-lesen {
	color:#b92900;
    .bold;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 2px;

	transition:color 300ms;
    display: block;
    margin-top: 1ex;
}

div.teaser-bar .mehr-lesen:focus,
div.teaser-bar .mehr-lesen:active,
div.teaser-bar .mehr-lesen:hover {
	color: #000;
	text-decoration: none;
}


.page-header h2 {
	color:#b92900;
	margin-bottom:12px;
}

.page-header h4 {
	margin-bottom:12px;
	font-size:1em;
    .bold;
}

.page-header {
	margin-bottom:32px;
}

p {
	font-size:1em;
}

table {
	margin: 32px 0px;
	width: 100%;
}

thead {
	border-bottom: solid 1px #0a0a0a;
}

thead td,
thead th {
    .semibold;
	text-align: left;
	padding-bottom: 16px;
}

tr {
	background: #f6f3f3;
}

tr:nth-child(even) {
	background: #fff;
}

td, th {
	padding: 6px;
}

div.content-col td p {
    margin-top: 0;
}

div.content-col td p:last-child {
    margin-bottom: 0;
}

tr i {
    .italic;
}

tr a {
	text-decoration:none;
	color:#1a171b;
}

div.back-to-top {
    text-align: right;
}

a.back-to-top {
	display: block;
    margin: 1em 0;
	font-size: 6px;
	text-align: right;
    vertical-align: top;
}

a.back-to-top:after {
    display: inline;
    padding-left: 1em;
    font-family: "dashicons";
    content: " \f343";
    font-size: 12px;
}

hr + a.back-to-top,
hr + div.back-to-top {
    margin-top: -3em;
}


.handschriften thead th ,
.handschriften thead td {
	padding-left:8px;
}

.handschriften tbody td,
.handschriften tbody th {
	padding-top:8px;
	padding-bottom:8px;
    .regular;
}

.handschriften tbody td a,
.handschriften tbody th a{
    .regular;
}

.search-pager p {
    .semibold;
	float:left;
	margin:0px;
	padding:0px;
	line-height:1em;
	display:block;
	padding-right:8px;
	margin-right:8px;
	position:relative;
	color:#1a171b;
}

.search-pager ul li {
	float:left;
}

.search-pager ul li a {
	color:#1a171b;
	text-decoration:none;
	margin-right:8px;
}

.search-pager:after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

.search-pager ul li.active a ,
.search-pager ul li a:hover ,
.search-pager ul li a:active ,
.search-pager ul li a:focus {
    .semibold;
}

.search-pager {
	padding:16px 0px;
	border-bottom:solid 1px #bcb8b6;
	margin-bottom:16px;
}

.search-results li {
	padding:10px 0px;
}

#main:after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

.content-col {
	float:left;
	width:64%;
}

.sidebar-col {
	float: right;
	width: 28%;
}

.kapitularien-uebersicht li {
	padding:24px 0px 16px;
	border-bottom:solid 1px #b9b5b3;
}

.kapitularien-uebersicht li:last-child {
	border-bottom:none;
}

.pager li a ,
.downloads li a ,
.kapitularien-uebersicht li a {
	text-decoration:none;
	transition:color 300ms;
}

.pager li a:hover,
.pager li a:focus,
.pager li a:active,
.downloads li a:hover,
.downloads li a:focus,
.downloads li a:active,
.kapitularien-uebersicht li a:hover,
.kapitularien-uebersicht li a:focus,
.kapitularien-uebersicht li a:active {
	color:#000;
}

.kapitularien-uebersicht {
	margin-bottom:48px;
}

select {
	width:100%;
	display:block;
	margin:8px 0px 16px;
	-webkit-appearance:none;
	display:block;
	border:none;
	position:relative;

	border-radius:6px;
	border-top:solid 1px #e0e0e0;
	border-left:solid 1px #e0e0e0;
	border-bottom:solid 2px #cccccc;

	height:1.6em;
	padding-left:1em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	background:url('../img/icon-selectbox.png') right no-repeat #fff;
	background-size:contain
}

input[type="text"] {
	width:100%;
	margin:8px 0px 16px;
	border:none;
	padding:4px 8px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.reset-form {
    .light;
	transition:color 500ms;
}

.reset-form:hover,
.reset-form:focus,
.reset-form:active{
	color:#000;
	text-decoration:none;
}

.kapitularien-pager ul li:after {
	height:3em;
}

.kapitularien-pager ul li a {
	line-height:1.5em;
    .light;
}

.kapitularien-pager ul li {
	padding-right:36px;
	margin-right:36px;
}

.kapitularien-pager {
	padding-top:8px;
}

.handschriften-table tbody td a,
.handschriften-table tbody td {
	line-height:2em;
    .light;
}

.handschriften-table tbody td:first-child a{
    .light-italic;
	position:relative;
	padding-left:3em;
	line-height:1em;
}

.handschriften-table tbody td:first-child a:before {
	content:'';
	display:block;
	width:1em;
	height:1em;
	margin-right:1.25em;
	margin-left:0.25em;
	position:absolute;
	left:0.25em;
	top:0em;
}

.handschriften-table tbody td a {
	display:block;
}

.handschriften-table {
	margin-bottom:100px;
}

.search-pager a {
    .regular;
}

.search-results p {
	padding-top:6px;
}

.search-results b {
    .bold;
}

/***********/
/* Content */
/***********/

div.content-col {
    text-align: justify;
	line-height: 1.4em;
}

div.content-col h1,
div.content-col h2,
div.content-col h3,
div.content-col h4,
div.content-col h5,
div.content-col h6
{
    text-align: left;
}

div.content-col h3,
div.content-col h4,
div.content-col h5,
div.content-col h6
{
    margin: 2em 0;
}

div.content-col h5 {
    .bold;
}

div.content-col p {
    margin: 1em 0;
}

div.content-col ul {
    margin: 1.5em 0;
}

div.content-col li {
    margin-left: 2em;
    list-style: disc outside;
}

div.content-col div.xsl-output li {
    margin-left: 0;
    list-style: none;
}

div.content-col div.xsl-output ol.alphabetisch li {
    margin-left: 2em;
    padding-left: 0.5em;
    list-style-type: lower-alpha;
}

div.content-col div.xsl-output ol.numerisch li {
    margin-left: 2em;
    padding-left: 0.5em;
    list-style-type: decimal;
}

div.content-col hr {
    margin: 3em 0;
}

div.content-col .rend-red {
    color: #b92900;
}

div.content-col .rend-default {
    color: black;
}


/***********/
/* Sidebar */
/***********/

.sidebar-col h2 {
	font-size: 1.3em;
    margin: 1.5em 0 1em;
}

.sidebar-col ul.menu {
	  background: #e9e1c1;
}

.sidebar-col ul.menu li {
    border-bottom: 1px solid #ffffff;
}

.sidebar-col ul.menu li:last-child {
	  border-bottom: none;
}

.sidebar-col ul.menu li a {
    display: block;
	  padding: 16px 8px;
    color: #b92900;
    background: #e9e1c1;
}



.transkription-header h2 {
	font-size:1.6em;
	width:400px;
    .bold;
	padding-bottom:8px;
}

.transkription-block {
	border-top:solid 1px #bcb8b6;
	padding-top:12px;
	padding-bottom:24px;
}

.transkription-block p {
    .light;
}

.transkription-block p.info {
    .light-italic;
	color:#1a171b;
	padding:8px 0px;
}

.transkription-head h4 {
	padding:8px 0px;
}

.transkription-head {
	padding-bottom:32px;
}

.transkription-block h5 {
	padding:8px 0px;
}

.transkription-block .text {
    .light;
	line-height:1.35em;
}

.transkription-block .text:first-letter {
    .bold;
}

.annotation {
	display:inline-block;
	text-align:center;
	position:relative;
	/* z-index:0; */
}

.annotation.active {
	z-index:1;
}

.annotation-link {
	position:relative;
	font-size:0.6em;
	display:inline;
	top:-0.7em;
	color:#af402e;
}

.annotation-content {
	display:inline-block;
	background:#af402e;
	background:rgba(175,64,46,0.85);
	color:#fff;
	position:absolute;
	padding:16px 8px;
	width:400px;
	margin-left:-200px;
	bottom:100%;
	margin-bottom:8px;
	transition:opacity 500ms;
	box-shadow:8px 8px 16px rgba(0,0,0,0.2);
	opacity:0;
	z-index:-1;
}

.annotation-content a {
	color:#fff;
	text-decoration:underline;
	font-weight:normal;
    .regular;
}

.annotation-content:after {
	content:'';
	display:block;
	position:absolute;
	left:50%;
	margin-left:-20px;
	border-top:solid 8px #b92900;
	border-top:solid 8px rgba(175,64,46,0.85);
	border-left:solid 10px transparent;
	border-right:solid 10px transparent;
	bottom:-8px;
}

.annotation-content:before {
	content:'';
	display:block;
	position:absolute;
	width:100px;
	margin-left:-50px;
	background:transparent;
	top:100%;
	height:32px;
	left:50%;
}

.annotation.active .annotation-content {

	opacity:1;
	z-index:100;
}
.text + h4 {
	padding:24px 0px;
}

.transkription-block h6 {
	color:#828083;
	padding:12px 0px;
}

.transkription-citations {
	margin-top:128px;
	border-top:solid 1px #bcb8b6;
	padding-top:16px;
}

.citation li {
	padding:4px 8px 4px 24px;
	position:relative;
	font-size:0.8em;
	font-family:'Arial','sans-serif','sans','Helvetica';
}

.citation li span.lt {
	position:absolute;
	left:0px;
	top:0.25em;;
}

.citation li:after {
	content:'';
	display:inline-block;
	position:relative;
	width:0.6em;
	height:0.6em;
	margin-left:4px;
}

span.red {
	color:#af402e;
}

.transkription-footer {
	padding-top:70px;
	padding-bottom:35px;
}

.transkription-footer h4 {
	padding-bottom:1em;
}

.zitatbox {
	border:solid 16px #e9e1c1;
	width:100%;
	resize:none;
	height:8em;
	margin-bottom:70px;
    .regular;
	font-size:1.1em;
}

.downloads li {
	padding:16px 12px;
	background:#e9e1c1;
	border-bottom:solid 1px #fff;
}

.downloads li:last-child {
	border-bottom:none;
}

.downloads li a:before {
	content:'';
	display:inline-block;
	width:1.5em;
	height:1.5em;
	position:relative;
	top:0.35em;
	margin-right:1em;
	background-color:#b92900;

	transition:background-color 500ms;
}

.downloads li a:focus:before ,
.downloads li a:active:before ,
.downloads li a:hover:before {
	background-color:#000;
}