/* Font mixins */

.light {
    font-family: 'OpenSans-Light','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.regular {
    font-family: 'OpenSans','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.semibold {
    font-family: 'OpenSans-Semibold','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.bold {
    font-family: 'OpenSans-Bold','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.extrabold {
    font-family: 'OpenSans-ExtraBold','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.light-italic {
    font-family: 'OpenSans-LightItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.italic {
    font-family: 'OpenSans-Italic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.semibold-italic {
    font-family: 'OpenSans-SemiboldItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.bold-italic {
    font-family: 'OpenSans-BoldItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

.extrabold-italic {
    font-family: 'OpenSans-ExtraBoldItalic','Helvetica','Arial','sans-serif','sans';
    font-weight: normal;
    font-style: normal;
}

/* More styles */

.font-menubar-top {
    .semibold;
}

.font-menubar-bottom {
    .semibold;
    text-transform: uppercase;
}
