@import (reference) "fonts.less";
@import (reference) "colors.less";

body {
    .regular;
	color: @color-text;
	background: @background;
}

h1 {
	.light;
	font-size:3em;
}

h2 {
	.regular;
	font-size:2.4em;
}

h3 {
    .regular;
	font-size:2em;
}

h4 {
	.semibold;
	font-size:1.3em;
}

h5 {
	.light-italic;
	font-size:1em;
}

.teaser-bar-1 h2 {
	.semibold;
	font-size:2em;
}

.teaser-bar-2 h2 {
	.semibold;
	font-size:1.3em;
}

a[href] {
	.semibold;
	color: @color-link;
	text-decoration: none;
}

a[href]:active ,
a[href]:focus ,
a[href]:hover {
	text-decoration: underline;
}
