body {
	  font-family:'open_sansregular','sans-serif','sans','Helvetica','Arial';
	  color:#1a171b;
	  background: #fff;
}

h1 {
	  font-size:3em;
	  font-family:'open_sanslight','sans-serif','sans','Helvetica','Arial';
}

h2 {
	  font-size:2.4em;
	  font-family:'open_sansregular','sans-serif','sans','Helvetica','Arial';
}

.teaser-bar-1 h2 {
	font-family:'open_sanssemibold','sans-serif','sans','Helvetica','Arial';
	font-size:2em;
}

.teaser-bar-2 h2 {
	font-family:'open_sanssemibold','sans-serif','sans','Helvetica','Arial';
	font-size:1.3em;
}

h3 {
	  font-size:2em;
}

h4 {
	  font-size:1.3em;
	  font-family:'open_sanssemibold','sans-serif','sans','Helvetica','Arial';
}

h5 {
	  font-size:1em;
	  font-family:'open_sanslight_italic','sans-serif','sans','Helvetica','Arial';
}

a {
	  color: #b92900;
	  text-decoration: none;
	  font-family: 'open_sanssemibold','sans-serif','sans','Helvetica','Arial';
}

a[href]:active ,
a[href]:focus ,
a[href]:hover {
	  text-decoration: underline;
}